In [1]:
import pandas as pd
import numpy as np

In [4]:
dataset_df = pd.read_csv('./out/cleaned_train.csv')

In [5]:
dataset_df

,DAY_OF_WEEK,HOUR_OF_DAY,MINUTE_OF_HOUR,SECOND_OF_MINUTE,TIME,BUS_ID,BUSROUTE_ID,BUSSTOP_ID,TIMESTAMP_DIFF
0,0,7,28,25,5305,0,3,17,117.0
1,0,7,30,22,5422,0,3,10,123.0
2,0,7,32,25,5545,0,3,8,121.0
3,0,7,34,26,5666,0,3,5,136.0
4,0,7,36,42,5802,0,3,3,174.0
...,...,...,...,...,...,...,...,...,...
3113890,4,21,47,30,56850,1076,8,109,74.0
3113891,4,21,48,44,56924,1076,8,117,123.0
3113892,4,21,50,47,57047,1076,8,119,91.0
3113893,4,21,52,18,57138,1076,8,121,82.0
3113894,4,21,53,40,57220,1076,8,624,49.0