In [88]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import pickle

In [124]:
train_df_raw = pd.read_csv("./data/training.csv")

In [90]:
routes_df = pd.read_csv("./data/routes.csv")
route_list = routes_df['BUSROUTE_ID'].unique()

In [91]:
stop_df = pd.read_csv("./data/stops.csv")
stop_list = stop_df['BUSSTOP_ID'].unique()

In [92]:
bus_list = train_df_raw['BUS_ID'].unique()

In [130]:
train_df = train_df_raw

In [126]:
train_df.head()

,index,RECORD_DATE,BUS_ID,BUSROUTE_ID,BUSSTOP_ID,BUSSTOP_SEQ,TIMESTAMP
0,0,2020-01-06 07:00:00,325819008,11100360,388,21,1578294000
1,1,2020-01-06 07:00:00,451509115,11100480,112,9,1578294000
2,2,2020-01-06 07:00:00,235501055,11100500,374,9,1578294000
3,3,2020-01-06 07:00:00,145010001,11100330,331,30,1578294000
4,4,2020-01-06 07:00:01,421733004,11100620,51,29,1578294001

In [131]:
train_df = train_df.sort_values(by=['BUS_ID', 'TIMESTAMP'])

In [96]:
train_df['TIMESTAMP_DIFF'] = train_df['TIMESTAMP'].shift(-1) - train_df['TIMESTAMP']

In [97]:
train_df['SEQ_DIFF'] = train_df['BUSSTOP_SEQ'].shift(-1) - train_df['BUSSTOP_SEQ']

In [98]:
train_df['ROUTE_DIFF'] = train_df['BUSROUTE_ID'].shift(-1) - train_df['BUSROUTE_ID']

In [99]:
train_df['BUS_ID_DIFF'] = train_df['BUS_ID'].shift(-1) - train_df['BUS_ID']

In [100]:
# train_df = train_df[(train_df['SEQ_DIFF']==1.0) & (train_df['ROUTE_DIFF']==0.0) & (train_df['BUS_ID_DIFF']==0.0)]

In [101]:
train_df = train_df[train_df['SEQ_DIFF']==1]
train_df = train_df[train_df['ROUTE_DIFF']==0]
train_df = train_df[train_df['BUS_ID_DIFF']==0]

In [102]:
train_df[train_df['TIMESTAMP_DIFF']<1]

Empty DataFrame
Columns: [index, RECORD_DATE, BUS_ID, BUSROUTE_ID, BUSSTOP_ID, BUSSTOP_SEQ, TIMESTAMP, TIMESTAMP_DIFF, SEQ_DIFF, ROUTE_DIFF, BUS_ID_DIFF]
Index: []

In [103]:
# bus id encoding
bus_id_encoder = preprocessing.LabelEncoder()
bus_id_encoder.fit(bus_list)
train_df.BUS_ID = bus_id_encoder.transform(train_df.BUS_ID)

# bus_id_encoder.transform([145010001, 235501055])
# bus_id_encoder.inverse_transform([280, 466])

In [104]:
# route id encoding
route_id_encoder = preprocessing.LabelEncoder()
route_id_encoder.fit(route_list)
train_df.BUSROUTE_ID = route_id_encoder.transform(train_df.BUSROUTE_ID)

In [105]:
# stop id encoding
stop_id_encoder = preprocessing.LabelEncoder()
stop_id_encoder.fit(stop_list)
train_df.BUSSTOP_ID = stop_id_encoder.transform(train_df.BUSSTOP_ID)

In [106]:
pickle.dump(bus_id_encoder  , open("./out/bus_id_encoder.pickle"    , "wb"))
pickle.dump(route_id_encoder, open("./out/route_id_encoder.pickle"  , "wb"))
pickle.dump(stop_id_encoder , open("./out/busstop_id_encoder.pickle", "wb"))

In [107]:
train_df['DAY_OF_WEEK'] = pd.to_datetime(train_df['RECORD_DATE']).dt.dayofweek

In [108]:
def timestamp_to_timeposition(time, starting_time = 21600): 
    if time < starting_time:
        return 0
    return (time - starting_time) % 86400

In [109]:
def timestamp_to_dayofweek(time):
    return (time//3600//24 + 3) % 7

In [110]:
timestamp_to_timeposition(1578607757)

58157

In [111]:
# time validation (valid time is 06:00:00 ~ 23:59:59)
starting_time = 21600 # 06:00:00
train_df['TIME_validation'] = train_df['TIMESTAMP'] % 86400
train_df = train_df[train_df['TIME_validation']>=starting_time]

In [112]:
# encodeing time

# (pd.to_datetime(train_df['RECORD_DATE']) - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s')
# (pd.Timestamp('2020-01-14 07:00:00')  - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s')
train_df['TIME'] = (train_df['TIMESTAMP'] - starting_time) % 86400

In [28]:
train_df.sort_values(by=['TIMESTAMP_DIFF'])

,index,RECORD_DATE,BUS_ID,BUSROUTE_ID,BUSSTOP_ID,BUSSTOP_SEQ,TIMESTAMP,TIMESTAMP_DIFF,SEQ_DIFF,ROUTE_DIFF,BUS_ID_DIFF,DAY_OF_WEEK,TIME_validation,TIME
2495182,2495182,2020-01-16 13:20:24,610,206,378,16,1579180824,3.0,1.0,0.0,0.0,3,48024,26424
257759,257759,2020-01-07 07:23:00,296,260,1170,47,1578381780,4.0,1.0,0.0,0.0,1,26580,4980
80314,80314,2020-01-06 11:18:34,725,251,379,27,1578309514,4.0,1.0,0.0,0.0,0,40714,19114
1170937,1170937,2020-01-10 14:41:21,427,41,452,40,1578667281,5.0,1.0,0.0,0.0,4,52881,31281
2543779,2543779,2020-01-16 16:05:54,200,251,379,27,1579190754,5.0,1.0,0.0,0.0,3,57954,36354
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1274219,1274219,2020-01-10 21:28:38,710,135,163,8,1578691718,207631.0,1.0,0.0,0.0,4,77318,55718
1031576,1031576,2020-01-09 22:09:17,468,200,1158,21,1578607757,208388.0,1.0,0.0,0.0,3,79757,58157
1238330,1238330,2020-01-10 19:06:14,219,265,148,13,1578683174,214548.0,1.0,0.0,0.0,4,68774,47174
1162737,1162737,2020-01-10 14:12:16,800,223,1194,25,1578665536,232925.0,1.0,0.0,0.0,4,51136,29536
1237654,1237654,2020-01-10 19:03:07,761,12,416,16,1578682987,651881.0,1.0,0.0,0.0,4,68587,46987

In [29]:
# 2000 sec-ees ihiig evdersen esvel tur zogsolt hiisen gej uzeed haslaa

# train_df[(train_df['TIMESTAMP_DIFF']>2000)].sort_values(by=['TIMESTAMP_DIFF'])
train_df = train_df[(train_df['TIMESTAMP_DIFF']<2000)]

In [31]:
output_df = train_df[["DAY_OF_WEEK", "TIME", "BUS_ID", "BUSROUTE_ID", "BUSSTOP_ID", "TIMESTAMP_DIFF"]]

In [113]:
output_df.to_csv('./out/cleaned_train.csv', index = False)

NameError: name 'output_df' is not defined

In [132]:
train_df.head(10000)

,index,RECORD_DATE,BUS_ID,BUSROUTE_ID,BUSSTOP_ID,BUSSTOP_SEQ,TIMESTAMP
173467,173467,2020-01-06 17:03:34,2053,11100010,380,21,1578330214
1624542,1624542,2020-01-13 07:28:25,2053,11100010,18,2,1578900505
1625151,1625151,2020-01-13 07:30:22,2053,11100010,11,3,1578900622
1625791,1625791,2020-01-13 07:32:25,2053,11100010,9,4,1578900745
1626425,1626425,2020-01-13 07:34:26,2053,11100010,6,5,1578900866
...,...,...,...,...,...,...,...
2047665,2047665,2020-01-14 17:36:58,8213188,11100060,51,55,1579023418
2048049,2048049,2020-01-14 17:38:21,8213188,11100060,61,56,1579023501
2048822,2048822,2020-01-14 17:41:18,8213188,11100060,1410,57,1579023678
2049201,2049201,2020-01-14 17:42:48,8213188,11100060,65,58,1579023768
2049512,2049512,2020-01-14 17:44:00,8213188,11100060,66,59,1579023840

In [175]:
#diff route num = 102
df = train_df.head(10000)
df = df.sort_values(by=['BUSROUTE_ID','BUS_ID', 'TIMESTAMP'])

In [176]:
route_index = 0
prev_seq = 0
seq_data = []
for idx, row in df.iterrows():
    if prev_seq == 0:
        prev_bus = row['BUS_ID']
        prev_seq = row['BUSSTOP_SEQ']
        prev_route = row['BUSROUTE_ID']
        prev_timestamp = row['TIMESTAMP']
        min_timestamp = row['TIMESTAMP']
        cnt = 1
        continue
        
    if (row['BUSSTOP_SEQ']>prev_seq and row['BUS_ID'] == prev_bus and row['BUSROUTE_ID'] == prev_route):
        pass
    else:
        seq_data.append([route_index, prev_route, cnt, (prev_timestamp - min_timestamp)/3600])
        min_timestamp = row['TIMESTAMP']
        route_index+=1
        cnt = 0

        
        
    prev_bus = row['BUS_ID']
    prev_seq = row['BUSSTOP_SEQ']
    prev_route = row['BUSROUTE_ID']
    prev_timestamp = row['TIMESTAMP']
    df.at[idx, 'ROUTE_IDX'] = route_index
    cnt += 1
    
seq_data.append([route_index, prev_route, cnt, (prev_timestamp - min_timestamp)/3600])

#   if (pd.isna(row['TIMESTAMP'])):
#     timestamp = test_df.iloc[idx-1]['TIMESTAMP']
#     prev_row  = test_df.iloc[idx-1]
#     if (not pd.isna(timestamp)):
#       day_of_week   = int(timestamp_to_dayofweek(timestamp))
#       time_position = int(timestamp_to_timeposition(timestamp))
      
#       bus_id = int(prev_row['BUS_ID'])
#       try:
#         bus_position = bus_id_encoder.transform([bus_id])[0]
#       except:
#         bus_position = random.choice(cleaned_buses)
      
#       route_id       = int(prev_row['BUSROUTE_ID'])
#       route_position = route_id_encoder.transform([route_id])[0]
      
#       busstop_id       = int(prev_row['BUSSTOP_ID'])
#       busstop_position = busstop_id_encoder.transform([busstop_id])[0]
#       prediction = c_model.predict([day_of_week, time_position, bus_position, route_position, busstop_position])
      
#       # model_input = np.array([[day_of_week, time_position, bus_position, route_position, busstop_position]])
#       # prediction  = int(model(model_input, training=False))

      
#       test_df.at[idx, 'TIMESTAMP'] = timestamp + prediction

In [177]:
df

,index,RECORD_DATE,BUS_ID,BUSROUTE_ID,BUSSTOP_ID,BUSSTOP_SEQ,TIMESTAMP,ROUTE_IDX
173467,173467,2020-01-06 17:03:34,2053,11100010,380,21,1578330214,NaN
1624542,1624542,2020-01-13 07:28:25,2053,11100010,18,2,1578900505,1.0
1625151,1625151,2020-01-13 07:30:22,2053,11100010,11,3,1578900622,1.0
1625791,1625791,2020-01-13 07:32:25,2053,11100010,9,4,1578900745,1.0
1626425,1626425,2020-01-13 07:34:26,2053,11100010,6,5,1578900866,1.0
...,...,...,...,...,...,...,...,...
3105096,3105096,2020-01-19 11:44:36,7514016,11100690,541,21,1579434276,313.0
3105808,3105808,2020-01-19 11:48:33,7514016,11100690,539,22,1579434513,313.0
3106283,3106283,2020-01-19 11:50:59,7514016,11100690,535,23,1579434659,313.0
3106600,3106600,2020-01-19 11:52:37,7514016,11100690,532,24,1579434757,313.0
3106948,3106948,2020-01-19 11:54:28,7514016,11100690,533,25,1579434868,313.0

In [178]:
seq_data

[[0, 11100010, 1, 0.0],
 [1, 11100010, 21, 0.8175],
 [2, 11100010, 2, 22.380555555555556],
 [3, 11100010, 1, 0.0],
 [4, 11100010, 10, 0.42583333333333334],
 [5, 11100010, 4, 0.20305555555555554],
 [6, 11100010, 36, 2.1755555555555555],
 [7, 11100010, 20, 0.7677777777777778],
 [8, 11100010, 28, 1.3369444444444445],
 [9, 11100010, 17, 1.0130555555555556],
 [10, 11100010, 24, 1.4322222222222223],
 [11, 11100010, 12, 0.5044444444444445],
 [12, 11100010, 10, 22.388055555555557],
 [13, 11100010, 39, 2.2305555555555556],
 [14, 11100010, 39, 1.8841666666666668],
 [15, 11100010, 39, 1.701111111111111],
 [16, 11100010, 39, 2.0269444444444447],
 [17, 11100010, 39, 2.6458333333333335],
 [18, 11100010, 39, 2.6008333333333336],
 [19, 11100010, 39, 1.601388888888889],
 [20, 11100010, 39, 2.0269444444444447],
 [21, 11100010, 39, 1.7775],
 [22, 11100010, 39, 2.1486111111111112],
 [23, 11100010, 39, 2.1244444444444444],
 [24, 11100010, 39, 1.8202777777777779],
 [25, 11100010, 39, 2.0527777777777776],
 [26, 11100010, 38, 1.948888888888889],
 [27, 11100010, 20, 1.1427777777777777],
 [28, 11100010, 39, 1.5841666666666667],
 [29, 11100010, 39, 1.8897222222222223],
 [30, 11100010, 39, 1.9536111111111112],
 [31, 11100010, 39, 2.261111111111111],
 [32, 11100010, 21, 133.9636111111111],
 [33, 11100010, 39, 1.8175],
 [34, 11100010, 39, 2.158888888888889],
 [35, 11100010, 39, 1.7763888888888888],
 [36, 11100010, 39, 2.129166666666667],
 [37, 11100010, 39, 2.125277777777778],
 [38, 11100010, 39, 2.8575],
 [39, 11100010, 39, 2.227222222222222],
 [40, 11100010, 39, 1.44],
 [41, 11100010, 39, 1.6525],
 [42, 11100010, 39, 1.6875],
 [43, 11100010, 39, 2.1269444444444443],
 [44, 11100010, 38, 1.8258333333333334],
 [45, 11100010, 39, 3.098888888888889],
 [46, 11100060, 58, 2.4002777777777777],
 [47, 11100060, 52, 3.006111111111111],
 [48, 11100060, 58, 3.142777777777778],
 [49, 11100060, 58, 2.9972222222222222],
 [50, 11100060, 58, 2.2808333333333333],
 [51, 11100060, 58, 2.9230555555555555],
 [52, 11100060, 58, 2.517777777777778],
 [53, 11100060, 58, 2.6036111111111113],
 [54, 11100060, 29, 0.9894444444444445],
 [55, 11100060, 57, 2.4347222222222222],
 [56, 11100060, 58, 2.486388888888889],
 [57, 11100060, 58, 2.9391666666666665],
 [58, 11100060, 58, 2.975],
 [59, 11100060, 58, 2.7597222222222224],
 [60, 11100060, 58, 2.1155555555555554],
 [61, 11100060, 47, 2.0008333333333335],
 [62, 11100060, 55, 2.7225],
 [63, 11100060, 58, 2.498611111111111],
 [64, 11100060, 58, 2.4763888888888888],
 [65, 11100182, 13, 0.9936111111111111],
 [66, 11100182, 18, 1.1205555555555555],
 [67, 11100182, 18, 1.146111111111111],
 [68, 11100182, 18, 1.5391666666666666],
 [69, 11100182, 9, 0.3169444444444444],
 [70, 11100182, 10, 0.6408333333333334],
 [71, 11100182, 18, 1.2341666666666666],
 [72, 11100182, 18, 1.2405555555555556],
 [73, 11100182, 18, 1.3152777777777778],
 [74, 11100182, 15, 1.8947222222222222],
 [75, 11100182, 18, 1.0383333333333333],
 [76, 11100182, 9, 0.32555555555555554],
 [77, 11100182, 18, 0.9836111111111111],
 [78, 11100182, 18, 1.0908333333333333],
 [79, 11100182, 18, 0.9569444444444445],
 [80, 11100182, 18, 1.4397222222222221],
 [81, 11100182, 18, 1.0338888888888889],
 [82, 11100182, 18, 1.0680555555555555],
 [83, 11100182, 14, 0.8355555555555556],
 [84, 11100182, 18, 1.156111111111111],
 [85, 11100182, 18, 1.1394444444444445],
 [86, 11100182, 14, 1.5633333333333332],
 [87, 11100182, 16, 1.103611111111111],
 [88, 11100182, 9, 0.5930555555555556],
 [89, 11100182, 18, 0.9813888888888889],
 [90, 11100182, 18, 1.0472222222222223],
 [91, 11100182, 18, 1.018888888888889],
 [92, 11100182, 18, 1.6477777777777778],
 [93, 11100182, 16, 0.9358333333333333],
 [94, 11100182, 14, 0.9183333333333333],
 [95, 11100182, 18, 1.2719444444444445],
 [96, 11100182, 16, 1.1533333333333333],
 [97, 11100182, 18, 1.0997222222222223],
 [98, 11100182, 17, 1.5716666666666668],
 [99, 11100182, 17, 0.8772222222222222],
 [100, 11100182, 15, 0.6725],
 [101, 11100182, 9, 0.33055555555555555],
 [102, 11100182, 17, 0.8233333333333334],
 [103, 11100182, 18, 1.1469444444444445],
 [104, 11100182, 18, 1.015],
 [105, 11100182, 18, 1.8455555555555556],
 [106, 11100182, 11, 0.9672222222222222],
 [107, 11100182, 18, 0.9902777777777778],
 [108, 11100182, 18, 1.1397222222222223],
 [109, 11100182, 18, 1.6797222222222221],
 [110, 11100182, 18, 1.4388888888888889],
 [111, 11100182, 18, 1.3155555555555556],
 [112, 11100182, 18, 0.955],
 [113, 11100182, 9, 0.3233333333333333],
 [114, 11100182, 17, 0.8483333333333334],
 [115, 11100182, 18, 1.3386111111111112],
 [116, 11100182, 18, 1.181111111111111],
 [117, 11100182, 18, 1.5147222222222223],
 [118, 11100182, 18, 1.0433333333333332],
 [119, 11100182, 18, 1.1941666666666666],
 [120, 11100182, 18, 1.2725],
 [121, 11100182, 18, 1.1208333333333333],
 [122, 11100182, 18, 1.396388888888889],
 [123, 11100182, 18, 1.631388888888889],
 [124, 11100182, 9, 0.3641666666666667],
 [125, 11100420, 38, 1.5925],
 [126, 11100420, 38, 1.6672222222222222],
 [127, 11100420, 37, 2.2583333333333333],
 [128, 11100420, 38, 1.7930555555555556],
 [129, 11100420, 38, 1.9994444444444444],
 [130, 11100420, 38, 2.198611111111111],
 [131, 11100420, 38, 2.4130555555555557],
 [132, 11100420, 18, 1.1941666666666666],
 [133, 11100420, 21, 0.8341666666666666],
 [134, 11100420, 37, 1.9666666666666666],
 [135, 11100420, 38, 1.8038888888888889],
 [136, 11100420, 38, 1.9408333333333334],
 [137, 11100420, 38, 2.1055555555555556],
 [138, 11100420, 18, 1.1258333333333332],
 [139, 11100420, 38, 2.1816666666666666],
 [140, 11100420, 38, 2.1213888888888888],
 [141, 11100420, 38, 2.171111111111111],
 [142, 11100420, 38, 2.162777777777778],
 [143, 11100420, 21, 0.7536111111111111],
 [144, 11100420, 38, 1.6580555555555556],
 [145, 11100420, 38, 2.095],
 [146, 11100420, 38, 1.8725],
 [147, 11100420, 38, 2.0122222222222224],
 [148, 11100420, 38, 1.9733333333333334],
 [149, 11100420, 38, 2.8525],
 [150, 11100420, 14, 1.031388888888889],
 [151, 11100420, 21, 0.7561111111111111],
 [152, 11100420, 38, 1.5844444444444445],
 [153, 11100420, 38, 1.6752777777777779],
 [154, 11100420, 38, 2.4808333333333334],
 [155, 11100420, 38, 2.2708333333333335],
 [156, 11100420, 38, 2.0216666666666665],
 [157, 11100420, 18, 1.2213888888888889],
 [158, 11100510, 23, 1.0663888888888888],
 [159, 11100510, 28, 1.7144444444444444],
 [160, 11100510, 28, 2.1725],
 [161, 11100510, 28, 2.1919444444444443],
 [162, 11100510, 28, 3.0375],
 [163, 11100510, 28, 2.5269444444444447],
 [164, 11100510, 27, 1.9097222222222223],
 [165, 11100510, 25, 1.0911111111111111],
 [166, 11100510, 28, 1.4313888888888888],
 [167, 11100510, 28, 1.5083333333333333],
 [168, 11100510, 28, 2.522222222222222],
 [169, 11100510, 28, 2.088888888888889],
 [170, 11100510, 28, 1.9741666666666666],
 [171, 11100510, 28, 1.9738888888888888],
 [172, 11100510, 28, 1.8980555555555556],
 [173, 11100510, 15, 0.6630555555555555],
 [174, 11100510, 28, 1.4505555555555556],
 [175, 11100510, 28, 1.7677777777777777],
 [176, 11100510, 28, 1.9369444444444444],
 [177, 11100510, 28, 1.9055555555555554],
 [178, 11100510, 28, 1.9327777777777777],
 [179, 11100510, 28, 2.062222222222222],
 [180, 11100510, 27, 1.7994444444444444],
 [181, 11100510, 28, 1.4683333333333333],
 [182, 11100510, 25, 1.1391666666666667],
 [183, 11100510, 28, 1.5116666666666667],
 [184, 11100510, 27, 1.9333333333333333],
 [185, 11100510, 28, 2.6908333333333334],
 [186, 11100510, 28, 2.2286111111111113],
 [187, 11100510, 28, 2.558333333333333],
 [188, 11100510, 28, 2.8133333333333335],
 [189, 11100510, 28, 1.3716666666666666],
 [190, 11100510, 27, 1.8944444444444444],
 [191, 11100510, 28, 1.8383333333333334],
 [192, 11100510, 28, 2.5844444444444443],
 [193, 11100510, 28, 1.9483333333333333],
 [194, 11100510, 28, 1.8108333333333333],
 [195, 11100510, 11, 0.43666666666666665],
 [196, 11100510, 4, 0.14805555555555555],
 [197, 11100510, 28, 1.3925],
 [198, 11100510, 28, 1.945],
 [199, 11100510, 22, 1.1619444444444444],
 [200, 11100510, 28, 1.6116666666666666],
 [201, 11100510, 28, 1.573888888888889],
 [202, 11100510, 28, 2.105],
 [203, 11100510, 28, 2.2913888888888887],
 [204, 11100510, 28, 2.403611111111111],
 [205, 11100510, 28, 2.485],
 [206, 11100510, 28, 1.3922222222222222],
 [207, 11100510, 28, 1.5880555555555556],
 [208, 11100510, 28, 1.665],
 [209, 11100510, 28, 1.97],
 [210, 11100510, 28, 2.1972222222222224],
 [211, 11100510, 28, 2.3922222222222222],
 [212, 11100510, 28, 1.9725],
 [213, 11100510, 14, 0.9997222222222222],
 [214, 11100510, 28, 1.3677777777777778],
 [215, 11100510, 28, 1.4397222222222221],
 [216, 11100510, 27, 1.951111111111111],
 [217, 11100510, 28, 1.8616666666666666],
 [218, 11100510, 28, 1.8330555555555557],
 [219, 11100510, 28, 2.5925],
 [220, 11100510, 28, 2.256388888888889],
 [221, 11100510, 14, 0.9244444444444444],
 [222, 11100510, 28, 1.3491666666666666],
 [223, 11100510, 28, 1.7122222222222223],
 [224, 11100510, 28, 1.8758333333333332],
 [225, 11100510, 28, 1.9227777777777777],
 [226, 11100510, 28, 2.120277777777778],
 [227, 11100510, 28, 2.504166666666667],
 [228, 11100690, 25, 0.8058333333333333],
 [229, 11100690, 48, 3.016388888888889],
 [230, 11100690, 49, 3.7472222222222222],
 [231, 11100690, 48, 3.053611111111111],
 [232, 11100690, 49, 4.453055555555555],
 [233, 11100690, 49, 1.8227777777777778],
 [234, 11100690, 49, 2.1066666666666665],
 [235, 11100690, 49, 2.658333333333333],
 [236, 11100690, 47, 2.1886111111111113],
 [237, 11100690, 49, 2.636111111111111],
 [238, 11100690, 49, 3.658611111111111],
 [239, 11100690, 49, 1.6980555555555557],
 [240, 11100690, 49, 1.9702777777777778],
 [241, 11100690, 24, 0.9063888888888889],
 [242, 11100690, 26, 1.201111111111111],
 [243, 11100690, 49, 2.2394444444444446],
 [244, 11100690, 49, 2.7655555555555558],
 [245, 11100690, 24, 1.7025],
 [246, 11100690, 26, 1.0775],
 [247, 11100690, 49, 2.020277777777778],
 [248, 11100690, 49, 2.1077777777777778],
 [249, 11100690, 48, 2.3091666666666666],
 [250, 11100690, 49, 2.1152777777777776],
 [251, 11100690, 49, 2.7022222222222223],
 [252, 11100690, 23, 1.2761111111111112],
 [253, 11100690, 26, 1.1377777777777778],
 [254, 11100690, 24, 0.8102777777777778],
 [255, 11100690, 26, 1.3711111111111112],
 [256, 11100690, 48, 2.8383333333333334],
 [257, 11100690, 49, 2.4408333333333334],
 [258, 11100690, 24, 2.0058333333333334],
 [259, 11100690, 26, 1.6202777777777777],
 [260, 11100690, 49, 1.6694444444444445],
 [261, 11100690, 24, 0.7911111111111111],
 [262, 11100690, 26, 0.8788888888888889],
 [263, 11100690, 49, 2.3775],
 [264, 11100690, 49, 1.986388888888889],
 [265, 11100690, 49, 2.111111111111111],
 [266, 11100690, 49, 2.0588888888888888],
 [267, 11100690, 24, 1.0461111111111112],
 [268, 11100690, 26, 0.8663888888888889],
 [269, 11100690, 49, 1.8675],
 [270, 11100690, 49, 2.0369444444444444],
 [271, 11100690, 24, 1.0797222222222222],
 [272, 11100690, 26, 1.2469444444444444],
 [273, 11100690, 49, 2.4344444444444444],
 [274, 11100690, 49, 3.233888888888889],
 [275, 11100690, 49, 2.7397222222222224],
 [276, 11100690, 32, 1.3852777777777778],
 [277, 11100690, 48, 1.9961111111111112],
 [278, 11100690, 49, 2.9427777777777777],
 [279, 11100690, 49, 2.2794444444444446],
 [280, 11100690, 49, 2.9269444444444446],
 [281, 11100690, 49, 2.207222222222222],
 [282, 11100690, 49, 1.9552777777777777],
 [283, 11100690, 49, 2.068888888888889],
 [284, 11100690, 49, 2.5394444444444444],
 [285, 11100690, 49, 2.350277777777778],
 [286, 11100690, 48, 2.5925],
 [287, 11100690, 49, 3.351111111111111],
 [288, 11100690, 49, 1.7061111111111111],
 [289, 11100690, 49, 2.0877777777777777],
 [290, 11100690, 24, 0.8305555555555556],
 [291, 11100690, 26, 1.2125],
 [292, 11100690, 49, 2.4791666666666665],
 [293, 11100690, 49, 2.444166666666667],
 [294, 11100690, 49, 2.5444444444444443],
 [295, 11100690, 24, 1.1583333333333334],
 [296, 11100690, 26, 0.9141666666666667],
 [297, 11100690, 49, 2.1008333333333336],
 [298, 11100690, 49, 2.5169444444444444],
 [299, 11100690, 49, 2.348888888888889],
 [300, 11100690, 49, 2.5019444444444443],
 [301, 11100690, 49, 3.1766666666666667],
 [302, 11100690, 49, 2.1325],
 [303, 11100690, 49, 1.6666666666666667],
 [304, 11100690, 24, 0.7983333333333333],
 [305, 11100690, 26, 0.9752777777777778],
 [306, 11100690, 49, 1.9541666666666666],
 [307, 11100690, 49, 1.9072222222222222],
 [308, 11100690, 49, 2.0180555555555557],
 [309, 11100690, 49, 1.9033333333333333],
 [310, 11100690, 49, 1.8747222222222222],
 [311, 11100690, 24, 0.7997222222222222],
 [312, 11100690, 26, 0.9527777777777777],
 [313, 11100690, 24, 0.9161111111111111]]

In [179]:
df=df.fillna(0)

In [180]:
for idx, row in df.iterrows():
    df.at[idx, 'ROUTE_TIME'] = seq_data[int(row['ROUTE_IDX'])][3]
    df.at[idx, 'SEQ_NUM'] = seq_data[int(row['ROUTE_IDX'])][2]

In [181]:
# 1578900505, 1578992933
# [[0, 1579118733, 1579119798],
#  [1, 1578900505, 1578903288],
#  [2, 1578991476, 1578992933],
# seq_data
df.head(60)

,index,RECORD_DATE,BUS_ID,BUSROUTE_ID,BUSSTOP_ID,BUSSTOP_SEQ,TIMESTAMP,ROUTE_IDX,ROUTE_TIME,SEQ_NUM
173467,173467,2020-01-06 17:03:34,2053,11100010,380,21,1578330214,0.0,0.000000,1.0
1624542,1624542,2020-01-13 07:28:25,2053,11100010,18,2,1578900505,1.0,0.817500,21.0
1625151,1625151,2020-01-13 07:30:22,2053,11100010,11,3,1578900622,1.0,0.817500,21.0
1625791,1625791,2020-01-13 07:32:25,2053,11100010,9,4,1578900745,1.0,0.817500,21.0
1626425,1626425,2020-01-13 07:34:26,2053,11100010,6,5,1578900866,1.0,0.817500,21.0
1627161,1627161,2020-01-13 07:36:42,2053,11100010,4,6,1578901002,1.0,0.817500,21.0
1628090,1628090,2020-01-13 07:39:36,2053,11100010,147,7,1578901176,1.0,0.817500,21.0
1628653,1628653,2020-01-13 07:41:22,2053,11100010,149,8,1578901282,1.0,0.817500,21.0
1629874,1629874,2020-01-13 07:45:06,2053,11100010,151,9,1578901506,1.0,0.817500,21.0
1630675,1630675,2020-01-13 07:47:30,2053,11100010,1225,10,1578901650,1.0,0.817500,21.0
1631768,1631768,2020-01-13 07:50:49,2053,11100010,274,11,1578901849,1.0,0.817500,21.0
1632383,1632383,2020-01-13 07:52:48,2053,11100010,273,12,1578901968,1.0,0.817500,21.0
1633977,1633977,2020-01-13 07:57:42,2053,11100010,279,13,1578902262,1.0,0.817500,21.0
1635040,1635040,2020-01-13 08:00:57,2053,11100010,281,14,1578902457,1.0,0.817500,21.0
1635362,1635362,2020-01-13 08:01:52,2053,11100010,369,15,1578902512,1.0,0.817500,21.0
1636166,1636166,2020-01-13 08:04:19,2053,11100010,371,16,1578902659,1.0,0.817500,21.0
1637354,1637354,2020-01-13 08:07:53,2053,11100010,373,17,1578902873,1.0,0.817500,21.0
1638013,1638013,2020-01-13 08:09:51,2053,11100010,375,18,1578902991,1.0,0.817500,21.0
1638414,1638414,2020-01-13 08:11:04,2053,11100010,377,19,1578903064,1.0,0.817500,21.0
1638825,1638825,2020-01-13 08:12:22,2053,11100010,379,20,1578903142,1.0,0.817500,21.0
1639611,1639611,2020-01-13 08:14:48,2053,11100010,380,21,1578903288,1.0,0.817500,21.0
1640478,1640478,2020-01-13 08:17:28,2053,11100010,378,22,1578903448,1.0,0.817500,21.0
1903298,1903298,2020-01-14 09:29:13,2053,11100010,9,4,1578994153,2.0,22.380556,2.0
2135720,2135720,2020-01-15 07:52:03,2053,11100010,281,14,1579074723,2.0,22.380556,2.0
1888458,1888458,2020-01-14 08:44:14,2058,11100010,372,25,1578991454,3.0,0.000000,1.0
1888579,1888579,2020-01-14 08:44:36,2058,11100010,372,25,1578991476,4.0,0.425833,10.0
1888971,1888971,2020-01-14 08:45:53,2058,11100010,370,26,1578991553,4.0,0.425833,10.0
1889483,1889483,2020-01-14 08:47:32,2058,11100010,585,27,1578991652,4.0,0.425833,10.0
1892099,1892099,2020-01-14 08:55:25,2058,11100010,193,28,1578992125,4.0,0.425833,10.0
1892597,1892597,2020-01-14 08:56:57,2058,11100010,100000010,29,1578992217,4.0,0.425833,10.0
1893899,1893899,2020-01-14 09:00:47,2058,11100010,155,30,1578992447,4.0,0.425833,10.0
1894673,1894673,2020-01-14 09:03:01,2058,11100010,153,31,1578992581,4.0,0.425833,10.0
1895247,1895247,2020-01-14 09:04:45,2058,11100010,152,32,1578992685,4.0,0.425833,10.0
1896626,1896626,2020-01-14 09:08:53,2058,11100010,150,33,1578992933,4.0,0.425833,10.0
1897036,1897036,2020-01-14 09:10:09,2058,11100010,148,34,1578993009,4.0,0.425833,10.0
2816644,2816644,2020-01-17 16:38:21,2058,11100010,147,7,1579279101,5.0,0.203056,4.0
2817356,2817356,2020-01-17 16:40:53,2058,11100010,149,8,1579279253,5.0,0.203056,4.0
2818801,2818801,2020-01-17 16:46:00,2058,11100010,151,9,1579279560,5.0,0.203056,4.0
2820010,2820010,2020-01-17 16:50:32,2058,11100010,1225,10,1579279832,5.0,0.203056,4.0
159011,159011,2020-01-06 16:06:45,2061,11100010,6,5,1578326805,6.0,2.175556,36.0
159502,159502,2020-01-06 16:08:45,2061,11100010,4,6,1578326925,6.0,2.175556,36.0
160153,160153,2020-01-06 16:11:11,2061,11100010,147,7,1578327071,6.0,2.175556,36.0
160665,160665,2020-01-06 16:13:15,2061,11100010,149,8,1578327195,6.0,2.175556,36.0
161461,161461,2020-01-06 16:16:14,2061,11100010,151,9,1578327374,6.0,2.175556,36.0
162335,162335,2020-01-06 16:19:51,2061,11100010,1225,10,1578327591,6.0,2.175556,36.0
165757,165757,2020-01-06 16:33:26,2061,11100010,274,11,1578328406,6.0,2.175556,36.0
166458,166458,2020-01-06 16:36:19,2061,11100010,273,12,1578328579,6.0,2.175556,36.0
169182,169182,2020-01-06 16:46:53,2061,11100010,279,13,1578329213,6.0,2.175556,36.0
169958,169958,2020-01-06 16:49:56,2061,11100010,281,14,1578329396,6.0,2.175556,36.0
170347,170347,2020-01-06 16:51:31,2061,11100010,369,15,1578329491,6.0,2.175556,36.0
171025,171025,2020-01-06 16:54:11,2061,11100010,371,16,1578329651,6.0,2.175556,36.0
171607,171607,2020-01-06 16:56:23,2061,11100010,373,17,1578329783,6.0,2.175556,36.0
171985,171985,2020-01-06 16:57:54,2061,11100010,375,18,1578329874,6.0,2.175556,36.0
172424,172424,2020-01-06 16:59:36,2061,11100010,377,19,1578329976,6.0,2.175556,36.0
172945,172945,2020-01-06 17:01:32,2061,11100010,379,20,1578330092,6.0,2.175556,36.0
173539,173539,2020-01-06 17:03:49,2061,11100010,380,21,1578330229,6.0,2.175556,36.0
174073,174073,2020-01-06 17:05:48,2061,11100010,378,22,1578330348,6.0,2.175556,36.0
174334,174334,2020-01-06 17:06:51,2061,11100010,376,23,1578330411,6.0,2.175556,36.0
174952,174952,2020-01-06 17:09:07,2061,11100010,374,24,1578330547,6.0,2.175556,36.0
175764,175764,2020-01-06 17:12:11,2061,11100010,372,25,1578330731,6.0,2.175556,36.0

In [13]:
train_df.groupby('BUSROUTE_ID').agg({'BUSROUTE_ID':'size', 'TIMESTAMP_DIFF':'mean'}) \
.rename(columns={'BUSROUTE_ID':'count','TIMESTAMP_DIFF':'mean_sent'}).sort_values(by=['mean_sent'])

             count    mean_sent
BUSROUTE_ID
11100670      4080  -255.005637
11100580     29199  -161.450495
11400130      6253  -152.902447
11400060     13395  -131.655394
11100690     36614  -126.668160
...            ...          ...
11100304         1   212.000000
11100510     24163   263.427265
11400112      3995   305.549437
11100280         4   521.500000
11100194         1  1122.000000

[108 rows x 2 columns]

In [120]:
routes_df.groupby(['BUSROUTE_ID']).agg([('Min' , 'min'), ('Max', 'max'), ('SIZE', 'size')])
#        .add_prefix('Day'))

            BUSSTOP_ID                 BUSSTOP_SEQ
                   Min        Max SIZE         Min Max SIZE
BUSROUTE_ID
1110049            373  100000005   24           1  24   24
1110059              4  100000010   50           1  50   50
1110130             36        848    4           1   4    4
11100010             4  100000010   40           1  40   40
11100012             4       1412   38           1  38   38
...                ...        ...  ...         ...  ..  ...
12100210           360       1534    9           1   9    9
12100220           115       1245    9           1   9    9
12100230           192        657   10           1  10   10
12100231           192        657    6           1   6    6
12100232           192        657   10           1  10   10

[353 rows x 6 columns]

In [ ]:
# one_bus  = train_df[train_df['BUS_ID']==800]

In [ ]:
# one_bus.to_excel("output.xlsx")

In [ ]:
# one_bus = one_bus.dropna()