In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import pickle
from datetime import datetime

In [16]:
%%time
test_df = pd.read_csv("./data/test_df3.csv")

CPU times: user 2.12 s, sys: 695 ms, total: 2.82 s
Wall time: 3.25 s

In [17]:
pd.options.display.float_format = "{:.2f}".format
# test_df = test_df.head(998)
test_df

,index,TIMESTAMP_x,BUSROUTE_ID,BUS_ID,BUSSTOP_ID,BUSSTOP_SEQ,RECORD_DATE,TIMESTAMP_y,ROUTE_IDX,ROUTE_TIME,SEQ_NUM,TIMESTAMP_BK,PRED
0,3220254,1579685016.00,11100010,2054,11,3,2020-01-22 09:23:36,1579888192.09,0.00,1.49,38.00,1579685016.00,168.09
1,3220255,1579685137.48,11100010,2054,9,4,0,1579685127.33,0.00,1.49,38.00,0.00,111.33
2,3220256,1579685246.00,11100010,2054,6,5,2020-01-22 09:27:26,1579685226.78,0.00,1.49,38.00,1579685246.00,99.47
3,3220257,1579685333.59,11100010,2054,4,6,0,1579685337.48,0.00,1.49,38.00,0.00,91.48
4,3220258,1579685473.01,11100010,2054,147,7,0,1579685483.07,0.00,1.49,38.00,0.00,145.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1557459,4777713,1579883967.00,12100232,740518021,657,9,2020-01-24 16:39:27,1579883543.64,43975.00,1.88,8.00,1579883967.00,144.21
1557460,4777714,1579886880.00,12100232,740518021,219,2,2020-01-24 17:28:00,1579884096.41,43976.00,1.88,4.00,1579886880.00,129.41
1557461,4777715,1579887228.97,12100232,740518021,221,3,0,1579886997.28,43976.00,1.88,4.00,0.00,117.28
1557462,4777716,1579887668.62,12100232,740518021,242,4,0,1579887145.04,43976.00,1.88,4.00,0.00,148.84
1557463,4777717,1579888024.00,12100232,740518021,240,5,2020-01-24 17:47:04,1579887264.48,43976.00,1.88,4.00,1579888024.00,121.66

In [18]:
%%time
gap_list = []
for idx, row in test_df.iterrows():
    timestamp = row['TIMESTAMP_BK']
    if (timestamp == 0):
        prev_timestamp = test_df.iloc[idx-1]['TIMESTAMP_BK']
        if (prev_timestamp != 0):
            current_timestamp = prev_timestamp + row['PRED']
            gap_start = idx-1
            pass
        else:
            current_timestamp += row['PRED']
            
        test_df.at[idx, 'TIMESTAMP_NEW'] = current_timestamp
        
        next_timestamp = test_df.iloc[idx+1]['TIMESTAMP_BK']
        if (next_timestamp!=0):
            gap_end = idx+1
            gap_list.append((gap_start, gap_end))
            
            test_df.at[idx+1, 'TIMESTAMP_NEW'] = current_timestamp + test_df.iloc[idx+1]['PRED']
            #cnt = cnt + 1
            #if cnt>5:
            #    break
            
len(gap_list)

CPU times: user 14min 10s, sys: 6 s, total: 14min 16s
Wall time: 14min 45s

250529

In [19]:
gap_list[:5]

[(0, 2), (2, 5), (5, 8), (8, 13), (13, 18)]

In [24]:
# test_df_bk = test_df
# test_df = test_df.head(998)
test_df = test_df_bk
test_df

,index,TIMESTAMP_x,BUSROUTE_ID,BUS_ID,BUSSTOP_ID,BUSSTOP_SEQ,RECORD_DATE,TIMESTAMP_y,ROUTE_IDX,ROUTE_TIME,SEQ_NUM,TIMESTAMP_BK,PRED,TIMESTAMP_NEW
0,3220254,1579685016.00,11100010,2054,11,3,2020-01-22 09:23:36,1579888192.09,0.00,1.49,38.00,1579685016.00,168.09,1579685016.00
1,3220255,1579685137.48,11100010,2054,9,4,0,1579685127.33,0.00,1.49,38.00,0.00,111.33,1579685127.33
2,3220256,1579685246.00,11100010,2054,6,5,2020-01-22 09:27:26,1579685226.78,0.00,1.49,38.00,1579685246.00,99.47,1579685226.81
3,3220257,1579685333.59,11100010,2054,4,6,0,1579685337.48,0.00,1.49,38.00,0.00,91.48,1579685337.48
4,3220258,1579685473.01,11100010,2054,147,7,0,1579685483.07,0.00,1.49,38.00,0.00,145.26,1579685482.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1557459,4777713,1579883967.00,12100232,740518021,657,9,2020-01-24 16:39:27,1579883543.64,43975.00,1.88,8.00,1579883967.00,144.21,1579883545.12
1557460,4777714,1579886880.00,12100232,740518021,219,2,2020-01-24 17:28:00,1579884096.41,43976.00,1.88,4.00,1579886880.00,129.41,nan
1557461,4777715,1579887228.97,12100232,740518021,221,3,0,1579886997.28,43976.00,1.88,4.00,0.00,117.28,1579886997.28
1557462,4777716,1579887668.62,12100232,740518021,242,4,0,1579887145.04,43976.00,1.88,4.00,0.00,148.84,1579887146.13
1557463,4777717,1579888024.00,12100232,740518021,240,5,2020-01-24 17:47:04,1579887264.48,43976.00,1.88,4.00,1579888024.00,121.66,1579887267.79

In [22]:
%%time
# pd.options.display.float_format = "{:.2f}".format
# cnt = 0

for gap in gap_list:
    gap_start     = gap[0]
    gap_end       = gap[1]
    scale_min     = test_df.iloc[gap_start]['TIMESTAMP_BK']
    scale_max     = test_df.iloc[gap_end  ]['TIMESTAMP_BK']
    bk_timestamps = test_df.iloc[gap_start:gap_end+1]['TIMESTAMP_NEW'].values
    
    bk_timestamps[0] = scale_min
    
    rescaled = np.interp(
        bk_timestamps, 
        (bk_timestamps.min(), bk_timestamps.max()), 
        (scale_min, scale_max)
    )
    iter_count = gap_end - gap_start
    for i in range(0, iter_count+1):
        idx = gap_start+i
        test_df.at[idx, 'TIMESTAMP_SCALED'] = rescaled[i]
        test_df.at[idx, 'DATETIME_SCALED' ] = datetime.utcfromtimestamp(rescaled[i])
        
#     cnt = cnt+1
#     if cnt>3:
#        break

CPU times: user 6.64 ms, sys: 299 µs, total: 6.94 ms
Wall time: 7.04 ms

In [23]:
test_df.head(60)

,index,TIMESTAMP_x,BUSROUTE_ID,BUS_ID,BUSSTOP_ID,BUSSTOP_SEQ,RECORD_DATE,TIMESTAMP_y,ROUTE_IDX,ROUTE_TIME,SEQ_NUM,TIMESTAMP_BK,PRED,TIMESTAMP_NEW,TIMESTAMP_SCALED,DATETIME_SCALED
0,3220254,1579685016.00,11100010,2054,11,3,2020-01-22 09:23:36,1579888192.09,0.00,1.49,38.00,1579685016.00,168.09,1579685016.00,1579685016.00,2020-01-22 09:23:36.000000
1,3220255,1579685137.48,11100010,2054,9,4,0,1579685127.33,0.00,1.49,38.00,0.00,111.33,1579685127.33,1579685127.33,2020-01-22 09:25:27.331718
2,3220256,1579685246.00,11100010,2054,6,5,2020-01-22 09:27:26,1579685226.78,0.00,1.49,38.00,1579685246.00,99.47,1579685246.00,1579685246.00,2020-01-22 09:27:26.000000
3,3220257,1579685333.59,11100010,2054,4,6,0,1579685337.48,0.00,1.49,38.00,0.00,91.48,1579685337.48,1579685337.48,2020-01-22 09:28:57.475239
4,3220258,1579685473.01,11100010,2054,147,7,0,1579685483.07,0.00,1.49,38.00,0.00,145.26,1579685482.73,1579685482.73,2020-01-22 09:31:22.733288
5,3220259,1579685572.00,11100010,2054,149,8,2020-01-22 09:32:52,1579685586.46,0.00,1.49,38.00,1579685572.00,103.48,1579685572.00,1579685572.00,2020-01-22 09:32:52.000000
6,3220260,1579685777.78,11100010,2054,151,9,0,1579685803.09,0.00,1.49,38.00,0.00,231.09,1579685803.09,1579685803.09,2020-01-22 09:36:43.094337
7,3220261,1579685902.27,11100010,2054,1225,10,0,1579685942.90,0.00,1.49,38.00,0.00,139.90,1579685942.99,1579685942.99,2020-01-22 09:39:02.993886
8,3220262,1579686153.00,11100010,2054,274,11,2020-01-22 09:42:33,1579686224.48,0.00,1.49,38.00,1579686153.00,281.51,1579686153.00,1579686153.00,2020-01-22 09:42:33.000000
9,3220263,1579686283.44,11100010,2054,273,12,0,1579686249.65,0.00,1.49,38.00,0.00,96.65,1579686249.65,1579686249.65,2020-01-22 09:44:09.646925
10,3220264,1579686711.93,11100010,2054,279,13,0,1579686567.13,0.00,1.49,38.00,0.00,317.79,1579686567.43,1579686567.43,2020-01-22 09:49:27.434470
11,3220265,1579686987.58,11100010,2054,281,14,0,1579686771.37,0.00,1.49,38.00,0.00,204.20,1579686771.63,1579686771.63,2020-01-22 09:52:51.630382
12,3220266,1579687109.29,11100010,2054,369,15,0,1579686861.55,0.00,1.49,38.00,0.00,90.37,1579686862.00,1579686862.00,2020-01-22 09:54:22.001738
13,3220267,1579687302.00,11100010,2054,371,16,2020-01-22 10:01:42,1579687004.34,0.00,1.49,38.00,1579687302.00,142.77,1579687302.00,1579687302.00,2020-01-22 10:01:42.000000
14,3220268,1579687502.41,11100010,2054,373,17,0,1579687469.43,0.00,1.49,38.00,0.00,167.43,1579687469.43,1579687502.69,2020-01-22 10:05:02.693480
15,3220269,1579687611.70,11100010,2054,375,18,0,1579687560.74,0.00,1.49,38.00,0.00,91.90,1579687561.33,1579687612.85,2020-01-22 10:06:52.851217
16,3220270,1579687691.84,11100010,2054,377,19,0,1579687627.68,0.00,1.49,38.00,0.00,65.92,1579687627.25,1579687691.87,2020-01-22 10:08:11.865318
17,3220271,1579687784.32,11100010,2054,379,20,0,1579687704.94,0.00,1.49,38.00,0.00,77.27,1579687704.52,1579687784.48,2020-01-22 10:09:44.483830
18,3220272,1579687888.00,11100010,2054,380,21,2020-01-22 10:11:28,1579687791.56,0.00,1.49,38.00,1579687888.00,86.36,1579687888.00,1579687888.00,2020-01-22 10:11:28.000000
19,3220273,1579687994.16,11100010,2054,378,22,0,1579688005.58,0.00,1.49,38.00,0.00,117.58,1579688005.58,1579687994.26,2020-01-22 10:13:14.257733
20,3220274,1579688070.65,11100010,2054,376,23,0,1579688090.30,0.00,1.49,38.00,0.00,84.94,1579688090.52,1579688071.02,2020-01-22 10:14:31.021273
21,3220275,1579688201.00,11100010,2054,374,24,0,1579688234.67,0.00,1.49,38.00,0.00,144.10,1579688234.62,1579688201.25,2020-01-22 10:16:41.247806
22,3220276,1579688454.88,11100010,2054,372,25,0,1579688515.86,0.00,1.49,38.00,0.00,280.35,1579688514.97,1579688454.60,2020-01-22 10:20:54.604380
23,3220277,1579688599.21,11100010,2054,370,26,0,1579688675.72,0.00,1.49,38.00,0.00,159.85,1579688674.82,1579688599.07,2020-01-22 10:23:19.067672
24,3220278,1579688691.00,11100010,2054,585,27,2020-01-22 10:24:51,1579688777.39,0.00,1.49,38.00,1579688691.00,101.73,1579688691.00,1579688691.00,2020-01-22 10:24:51.000000
25,3220279,1579689023.18,11100010,2054,193,28,0,1579689046.52,0.00,1.49,38.00,0.00,355.52,1579689046.52,1579689022.95,2020-01-22 10:30:22.950400
26,3220280,1579689112.27,11100010,2054,100000010,29,0,1579689141.87,0.00,1.49,38.00,0.00,95.70,1579689142.22,1579689112.31,2020-01-22 10:31:52.306764
27,3220281,1579689287.00,11100010,2054,155,30,2020-01-22 10:34:47,1579689328.88,0.00,1.49,38.00,1579689287.00,187.10,1579689287.00,1579689287.00,2020-01-22 10:34:47.000000
28,3220282,1579689382.65,11100010,2054,153,31,0,1579689398.38,0.00,1.49,38.00,0.00,111.38,1579689398.38,1579689382.43,2020-01-22 10:36:22.430037
29,3220283,1579689477.83,11100010,2054,152,32,0,1579689509.22,0.00,1.49,38.00,0.00,110.83,1579689509.21,1579689477.39,2020-01-22 10:37:57.385326
30,3220284,1579689632.95,11100010,2054,150,33,0,1579689689.85,0.00,1.49,38.00,0.00,180.46,1579689689.66,1579689632.00,2020-01-22 10:40:32.000045
31,3220285,1579689711.01,11100010,2054,148,34,0,1579689780.77,0.00,1.49,38.00,0.00,90.90,1579689780.57,1579689709.89,2020-01-22 10:41:49.885657
32,3220286,1579689833.94,11100010,2054,5,35,0,1579689923.91,0.00,1.49,38.00,0.00,143.32,1579689923.88,1579689832.68,2020-01-22 10:43:52.677573
33,3220287,1579689906.50,11100010,2054,7,36,0,1579690008.41,0.00,1.49,38.00,0.00,84.36,1579690008.25,1579689904.96,2020-01-22 10:45:04.959659
34,3220288,1579689961.51,11100010,2054,8,37,0,1579690072.47,0.00,1.49,38.00,0.00,65.82,1579690074.06,1579689961.35,2020-01-22 10:46:01.349839
35,3220289,1579690036.92,11100010,2054,10,38,0,1579690160.28,0.00,1.49,38.00,0.00,89.26,1579690163.32,1579690037.82,2020-01-22 10:47:17.824426
36,3220290,1579690141.36,11100010,2054,19,39,0,1579690281.90,0.00,1.49,38.00,0.00,121.70,1579690285.02,1579690142.09,2020-01-22 10:49:02.094301
37,3220291,1579690374.00,11100010,2054,1412,40,2020-01-22 10:52:54,1579690552.81,0.00,1.49,38.00,1579690374.00,270.67,1579690555.68,1579690374.00,2020-01-22 10:52:54.000000
38,3220292,1579678227.00,11100010,2058,18,2,2020-01-22 07:30:27,1579690455.94,1.00,2.46,39.00,1579678227.00,81.94,nan,nan,NaT
39,3220293,1579678404.00,11100010,2058,11,3,2020-01-22 07:33:24,1579678369.63,1.00,2.46,39.00,1579678404.00,142.63,nan,nan,NaT
40,3220294,1579678581.00,11100010,2058,9,4,2020-01-22 07:36:21,1579678544.27,1.00,2.46,39.00,1579678581.00,140.27,1579678581.00,1579678581.00,2020-01-22 07:36:21.000000
41,3220295,1579678741.21,11100010,2058,6,5,0,1579678710.96,1.00,2.46,39.00,0.00,129.96,1579678710.96,1579678741.09,2020-01-22 07:39:01.086621
42,3220296,1579678889.75,11100010,2058,4,6,0,1579678831.45,1.00,2.46,39.00,0.00,120.48,1579678831.43,1579678889.49,2020-01-22 07:41:29.493910
43,3220297,1579679114.66,11100010,2058,147,7,0,1579679013.89,1.00,2.46,39.00,0.00,182.62,1579679014.05,1579679114.46,2020-01-22 07:45:14.456857
44,3220298,1579679281.29,11100010,2058,149,8,0,1579679149.05,1.00,2.46,39.00,0.00,134.46,1579679148.51,1579679280.09,2020-01-22 07:48:00.090061
45,3220299,1579679588.17,11100010,2058,151,9,0,1579679397.98,1.00,2.46,39.00,0.00,249.04,1579679397.56,1579679586.87,2020-01-22 07:53:06.873817
46,3220300,1579679778.79,11100010,2058,1225,10,0,1579679552.60,1.00,2.46,39.00,0.00,154.91,1579679552.47,1579679777.70,2020-01-22 07:56:17.701909
47,3220301,1579680179.00,11100010,2058,274,11,2020-01-22 08:02:59,1579679877.24,1.00,2.46,39.00,1579680179.00,325.77,1579680179.00,1579680179.00,2020-01-22 08:02:59.000000
48,3220302,1579680292.27,11100010,2058,273,12,0,1579680302.94,1.00,2.46,39.00,0.00,123.94,1579680302.94,1579680292.39,2020-01-22 08:04:52.393625
49,3220303,1579680664.00,11100010,2058,279,13,2020-01-22 08:11:04,1579680709.67,1.00,2.46,39.00,1579680664.00,406.16,1579680664.00,1579680664.00,2020-01-22 08:11:04.000000
50,3220304,1579681005.74,11100010,2058,281,14,0,1579680925.71,1.00,2.46,39.00,0.00,261.71,1579680925.71,1579681006.91,2020-01-22 08:16:46.913251
51,3220305,1579681162.89,11100010,2058,369,15,0,1579681046.06,1.00,2.46,39.00,0.00,120.35,1579681046.06,1579681164.60,2020-01-22 08:19:24.597916
52,3220306,1579681390.75,11100010,2058,371,16,0,1579681220.56,1.00,2.46,39.00,0.00,174.62,1579681220.68,1579681393.40,2020-01-22 08:23:13.401160
53,3220307,1579681686.00,11100010,2058,373,17,0,1579681446.67,1.00,2.46,39.00,0.00,226.60,1579681447.28,1579681690.31,2020-01-22 08:28:10.312498
54,3220308,1579681842.34,11100010,2058,375,18,0,1579681566.40,1.00,2.46,39.00,0.00,119.18,1579681566.46,1579681846.46,2020-01-22 08:30:46.464948
55,3220309,1579681947.33,11100010,2058,377,19,0,1579681646.80,1.00,2.46,39.00,0.00,79.75,1579681646.21,1579681950.96,2020-01-22 08:32:30.959362
56,3220310,1579682063.34,11100010,2058,379,20,0,1579681735.64,1.00,2.46,39.00,0.00,87.93,1579681734.14,1579682066.18,2020-01-22 08:34:26.177261
57,3220311,1579682220.35,11100010,2058,380,21,0,1579681855.88,1.00,2.46,39.00,0.00,119.26,1579681853.41,1579682222.44,2020-01-22 08:37:02.444678
58,3220312,1579682419.71,11100010,2058,378,22,0,1579682008.55,1.00,2.46,39.00,0.00,150.07,1579682003.48,1579682419.07,2020-01-22 08:40:19.073850
59,3220313,1579682549.06,11100010,2058,376,23,0,1579682107.61,1.00,2.46,39.00,0.00,98.66,1579682102.14,1579682548.35,2020-01-22 08:42:28.348483

In [89]:
%%time
for idx, row in test_df.iterrows():
    timestamp_scaled = row['TIMESTAMP_SCALED']
    if (pd.isna(timestamp_scaled)):
        test_df.at[idx, 'TIMESTAMP_SCALED'] = row['TIMESTAMP_BK']

CPU times: user 3min 24s, sys: 2.22 s, total: 3min 26s
Wall time: 3min 46s

In [90]:
test_df_bk = test_df
test_df = test_df_bk

In [91]:
test_df.head(60)

,index,TIMESTAMP,TIMESTAMP_BK,TIMESTAMP_SCALED,DATETIME_SCALED
0,3220254,1579685016.00,1579685016.00,1579685016.00,2020-01-22 09:23:36.000000
1,3220255,1579685127.33,0.00,1579685137.48,2020-01-22 09:25:37.481148
2,3220256,1579685246.00,1579685246.00,1579685246.00,2020-01-22 09:27:26.000000
3,3220257,1579685337.48,0.00,1579685333.59,2020-01-22 09:28:53.591269
4,3220258,1579685483.07,0.00,1579685473.01,2020-01-22 09:31:13.008599
5,3220259,1579685572.00,1579685572.00,1579685572.00,2020-01-22 09:32:52.000000
6,3220260,1579685803.09,0.00,1579685777.78,2020-01-22 09:36:17.779127
7,3220261,1579685942.90,0.00,1579685902.27,2020-01-22 09:38:22.273511
8,3220262,1579686153.00,1579686153.00,1579686153.00,2020-01-22 09:42:33.000000
9,3220263,1579686249.65,0.00,1579686283.44,2020-01-22 09:44:43.438368
10,3220264,1579686567.13,0.00,1579686711.93,2020-01-22 09:51:51.930712
11,3220265,1579686771.37,0.00,1579686987.58,2020-01-22 09:56:27.582171
12,3220266,1579686861.55,0.00,1579687109.29,2020-01-22 09:58:29.285028
13,3220267,1579687302.00,1579687302.00,1579687302.00,2020-01-22 10:01:42.000000
14,3220268,1579687469.43,0.00,1579687502.41,2020-01-22 10:05:02.411957
15,3220269,1579687560.74,0.00,1579687611.70,2020-01-22 10:06:51.704896
16,3220270,1579687627.68,0.00,1579687691.84,2020-01-22 10:08:11.836793
17,3220271,1579687704.94,0.00,1579687784.32,2020-01-22 10:09:44.318624
18,3220272,1579687888.00,1579687888.00,1579687888.00,2020-01-22 10:11:28.000000
19,3220273,1579688005.58,0.00,1579687994.16,2020-01-22 10:13:14.157761
20,3220274,1579688090.30,0.00,1579688070.65,2020-01-22 10:14:30.650864
21,3220275,1579688234.67,0.00,1579688201.00,2020-01-22 10:16:41.000630
22,3220276,1579688515.86,0.00,1579688454.88,2020-01-22 10:20:54.879064
23,3220277,1579688675.72,0.00,1579688599.21,2020-01-22 10:23:19.208317
24,3220278,1579688691.00,1579688691.00,1579688691.00,2020-01-22 10:24:51.000000
25,3220279,1579689046.52,0.00,1579689023.18,2020-01-22 10:30:23.179644
26,3220280,1579689141.87,0.00,1579689112.27,2020-01-22 10:31:52.270791
27,3220281,1579689287.00,1579689287.00,1579689287.00,2020-01-22 10:34:47.000000
28,3220282,1579689398.38,0.00,1579689382.65,2020-01-22 10:36:22.646472
29,3220283,1579689509.22,0.00,1579689477.83,2020-01-22 10:37:57.826254
30,3220284,1579689689.85,0.00,1579689632.95,2020-01-22 10:40:32.946008
31,3220285,1579689780.77,0.00,1579689711.01,2020-01-22 10:41:51.014649
32,3220286,1579689923.91,0.00,1579689833.94,2020-01-22 10:43:53.936655
33,3220287,1579690008.41,0.00,1579689906.50,2020-01-22 10:45:06.500307
34,3220288,1579690072.47,0.00,1579689961.51,2020-01-22 10:46:01.512435
35,3220289,1579690160.28,0.00,1579690036.92,2020-01-22 10:47:16.916942
36,3220290,1579690281.90,0.00,1579690141.36,2020-01-22 10:49:01.358435
37,3220291,1579690552.81,1579690374.00,1579690374.00,2020-01-22 10:52:54.000000
38,3220292,1579690455.94,1579678227.00,1579678227.00,NaT
39,3220293,1579678369.63,1579678404.00,1579678404.00,NaT
40,3220294,1579678581.00,1579678581.00,1579678581.00,2020-01-22 07:36:21.000000
41,3220295,1579678710.96,0.00,1579678741.21,2020-01-22 07:39:01.209822
42,3220296,1579678831.45,0.00,1579678889.75,2020-01-22 07:41:29.752157
43,3220297,1579679013.89,0.00,1579679114.66,2020-01-22 07:45:14.660281
44,3220298,1579679149.05,0.00,1579679281.29,2020-01-22 07:48:01.288758
45,3220299,1579679397.98,0.00,1579679588.17,2020-01-22 07:53:08.171436
46,3220300,1579679552.60,0.00,1579679778.79,2020-01-22 07:56:18.787040
47,3220301,1579680179.00,1579680179.00,1579680179.00,2020-01-22 08:02:59.000000
48,3220302,1579680302.94,0.00,1579680292.27,2020-01-22 08:04:52.270617
49,3220303,1579680664.00,1579680664.00,1579680664.00,2020-01-22 08:11:04.000000
50,3220304,1579680925.71,0.00,1579681005.74,2020-01-22 08:16:45.741846
51,3220305,1579681046.06,0.00,1579681162.89,2020-01-22 08:19:22.889871
52,3220306,1579681220.56,0.00,1579681390.75,2020-01-22 08:23:10.752180
53,3220307,1579681446.67,0.00,1579681686.00,2020-01-22 08:28:06.004469
54,3220308,1579681566.40,0.00,1579681842.34,2020-01-22 08:30:42.344523
55,3220309,1579681646.80,0.00,1579681947.33,2020-01-22 08:32:27.328134
56,3220310,1579681735.64,0.00,1579682063.34,2020-01-22 08:34:23.344905
57,3220311,1579681855.88,0.00,1579682220.35,2020-01-22 08:37:00.352309
58,3220312,1579682008.55,0.00,1579682419.71,2020-01-22 08:40:19.705767
59,3220313,1579682107.61,0.00,1579682549.06,2020-01-22 08:42:29.059756

In [92]:
test_df = test_df[['index', 'TIMESTAMP_SCALED', 'TIMESTAMP_BK']].rename(columns={"TIMESTAMP_SCALED": "TIMESTAMP"})

In [93]:
test_df.head(50)

      index     TIMESTAMP  TIMESTAMP_BK
0   3220254 1579685016.00 1579685016.00
1   3220255 1579685137.48          0.00
2   3220256 1579685246.00 1579685246.00
3   3220257 1579685333.59          0.00
4   3220258 1579685473.01          0.00
5   3220259 1579685572.00 1579685572.00
6   3220260 1579685777.78          0.00
7   3220261 1579685902.27          0.00
8   3220262 1579686153.00 1579686153.00
9   3220263 1579686283.44          0.00
10  3220264 1579686711.93          0.00
11  3220265 1579686987.58          0.00
12  3220266 1579687109.29          0.00
13  3220267 1579687302.00 1579687302.00
14  3220268 1579687502.41          0.00
15  3220269 1579687611.70          0.00
16  3220270 1579687691.84          0.00
17  3220271 1579687784.32          0.00
18  3220272 1579687888.00 1579687888.00
19  3220273 1579687994.16          0.00
20  3220274 1579688070.65          0.00
21  3220275 1579688201.00          0.00
22  3220276 1579688454.88          0.00
23  3220277 1579688599.21          0.00
24  3220278 1579688691.00 1579688691.00
25  3220279 1579689023.18          0.00
26  3220280 1579689112.27          0.00
27  3220281 1579689287.00 1579689287.00
28  3220282 1579689382.65          0.00
29  3220283 1579689477.83          0.00
30  3220284 1579689632.95          0.00
31  3220285 1579689711.01          0.00
32  3220286 1579689833.94          0.00
33  3220287 1579689906.50          0.00
34  3220288 1579689961.51          0.00
35  3220289 1579690036.92          0.00
36  3220290 1579690141.36          0.00
37  3220291 1579690374.00 1579690374.00
38  3220292 1579678227.00 1579678227.00
39  3220293 1579678404.00 1579678404.00
40  3220294 1579678581.00 1579678581.00
41  3220295 1579678741.21          0.00
42  3220296 1579678889.75          0.00
43  3220297 1579679114.66          0.00
44  3220298 1579679281.29          0.00
45  3220299 1579679588.17          0.00
46  3220300 1579679778.79          0.00
47  3220301 1579680179.00 1579680179.00
48  3220302 1579680292.27          0.00
49  3220303 1579680664.00 1579680664.00

In [94]:
# test_df.to_csv("./out/test_df_timestamp_adjusted.csv")
test_df[['index', 'TIMESTAMP']].to_csv("./out/output_ready_6_rescaled.csv", index=False)

In [49]:
# test_2 = pd.read_csv("./out/output_ready_best.csv")

In [51]:
# pd.merge(test_2, test_df, on='index', how='inner')

           index   TIMESTAMP_x   TIMESTAMP_y  TIMESTAMP_BK
0        3220254 1579685016.00 1579685016.00 1579685016.00
1        3220255 1579685137.05 1579685131.00          0.00
2        3220256 1579685246.00 1579685246.00 1579685246.00
3        3220257 1579685339.27 1579685341.34          0.00
4        3220258 1579685475.31 1579685475.20          0.00
...          ...           ...           ...           ...
1557459  4777713 1579883967.00 1579883967.00 1579883967.00
1557460  4777714 1579886880.00 1579886880.00 1579886880.00
1557461  4777715 1579887223.60 1579887932.62          0.00
1557462  4777716 1579887676.35 1579887983.28          0.00
1557463  4777717 1579888024.00 1579888024.00 1579888024.00

[1557464 rows x 4 columns]