In [37]:
from sklearn.preprocessing import MinMaxScaler
from datetime import datetime
import numpy as np
import pandas as pd
import random

In [3]:
now_dt = datetime.now()
now_ts = datetime.timestamp(now_dt)

print(now_dt)
print(now_ts)

2020-03-29 07:21:59.687226
1585437719.687226

In [5]:
ts_list = [now_ts]
ts      = now_ts
for i in range(0, 10):
    ts = ts + random.randrange(20, 40)
    ts_list.append(ts)

ts_list

[1585437719.687226,
 1585437740.687226,
 1585437770.687226,
 1585437809.687226,
 1585437844.687226,
 1585437873.687226,
 1585437896.687226,
 1585437930.687226,
 1585437951.687226,
 1585437981.687226,
 1585438018.687226]

In [8]:
for dt in [datetime.fromtimestamp(i) for i in ts_list]:
    print(dt)

2020-03-29 07:21:59.687226
2020-03-29 07:22:20.687226
2020-03-29 07:22:50.687226
2020-03-29 07:23:29.687226
2020-03-29 07:24:04.687226
2020-03-29 07:24:33.687226
2020-03-29 07:24:56.687226
2020-03-29 07:25:30.687226
2020-03-29 07:25:51.687226
2020-03-29 07:26:21.687226
2020-03-29 07:26:58.687226

In [9]:
# scale to 07:22 -> 07:30
scale_min = now_ts
scale_max = now_ts+8*60 
print(scale_min, scale_max)

1585437719.687226 1585438199.687226

In [24]:
ts_list_np = np.array(ts_list)
ts_list_np

array([1.58543772e+09, 1.58543774e+09, 1.58543777e+09, 1.58543781e+09,
       1.58543784e+09, 1.58543787e+09, 1.58543790e+09, 1.58543793e+09,
       1.58543795e+09, 1.58543798e+09, 1.58543802e+09])

In [31]:
rescaled_ts_list = np.interp(ts_list_np, (ts_list_np.min(), ts_list_np.max()), (scale_min, scale_max))

In [35]:
print("scale to between 07:22 and 07:30")
print("===== before scale =======")
for dt in [datetime.fromtimestamp(i) for i in ts_list]:
    print(dt)
    
print("===== after rescaled =====")
for dt in [datetime.fromtimestamp(i) for i in rescaled_ts_list]:
    print(dt)

scale to between 07:22 and 07:30
===== before scale =======
2020-03-29 07:21:59.687226
2020-03-29 07:22:20.687226
2020-03-29 07:22:50.687226
2020-03-29 07:23:29.687226
2020-03-29 07:24:04.687226
2020-03-29 07:24:33.687226
2020-03-29 07:24:56.687226
2020-03-29 07:25:30.687226
2020-03-29 07:25:51.687226
2020-03-29 07:26:21.687226
2020-03-29 07:26:58.687226
===== after rescaled =====
2020-03-29 07:21:59.687226
2020-03-29 07:22:33.399601
2020-03-29 07:23:21.560136
2020-03-29 07:24:24.168831
2020-03-29 07:25:20.356122
2020-03-29 07:26:06.911306
2020-03-29 07:26:43.834383
2020-03-29 07:27:38.416323
2020-03-29 07:28:12.128698
2020-03-29 07:29:00.289233
2020-03-29 07:29:59.687226

In [40]:
d  = {'TIMESTAMP': ts_list, 'DATETIME': [datetime.fromtimestamp(i) for i in ts_list]}
df = pd.DataFrame(data=d)
df

       TIMESTAMP                   DATETIME
0   1.585438e+09 2020-03-29 07:21:59.687226
1   1.585438e+09 2020-03-29 07:22:20.687226
2   1.585438e+09 2020-03-29 07:22:50.687226
3   1.585438e+09 2020-03-29 07:23:29.687226
4   1.585438e+09 2020-03-29 07:24:04.687226
5   1.585438e+09 2020-03-29 07:24:33.687226
6   1.585438e+09 2020-03-29 07:24:56.687226
7   1.585438e+09 2020-03-29 07:25:30.687226
8   1.585438e+09 2020-03-29 07:25:51.687226
9   1.585438e+09 2020-03-29 07:26:21.687226
10  1.585438e+09 2020-03-29 07:26:58.687226

In [45]:
df.iloc[1  ] = np.nan
df.iloc[4:7] = np.nan
df.iloc[9  ] = np.nan
df

       TIMESTAMP                   DATETIME
0   1.585438e+09 2020-03-29 07:21:59.687226
1            NaN                        NaT
2   1.585438e+09 2020-03-29 07:22:50.687226
3   1.585438e+09 2020-03-29 07:23:29.687226
4            NaN                        NaT
5            NaN                        NaT
6            NaN                        NaT
7   1.585438e+09 2020-03-29 07:25:30.687226
8   1.585438e+09 2020-03-29 07:25:51.687226
9            NaN                        NaT
10  1.585438e+09 2020-03-29 07:26:58.687226

In [68]:
another_df = pd.DataFrame(
    data={
        'TIMESTAMP': rescaled_ts_list,
        'DATETIME' : [datetime.fromtimestamp(i) for i in rescaled_ts_list]
    })
df['TIMESTAMP_BK'] = another_df['TIMESTAMP']
df['DATETIME_BK' ] = another_df['DATETIME' ]
df

,TIMESTAMP,DATETIME,TIMESTAMP_BK,TIMESTAMP_SCALED,DATETIME_SCALED,DATETIME_BK
0,1.585438e+09,2020-03-29 07:21:59.687226,1.585438e+09,1.585438e+09,2020-03-29 07:21:59.687226,2020-03-29 07:21:59.687226
1,NaN,NaT,1.585438e+09,1.585438e+09,2020-03-29 07:22:20.687226,2020-03-29 07:22:33.399601
2,1.585438e+09,2020-03-29 07:22:50.687226,1.585438e+09,1.585438e+09,2020-03-29 07:22:50.687226,2020-03-29 07:23:21.560136
3,1.585438e+09,2020-03-29 07:23:29.687226,1.585438e+09,1.585438e+09,2020-03-29 07:23:29.687226,2020-03-29 07:24:24.168831
4,NaN,NaT,1.585438e+09,1.585438e+09,2020-03-29 07:24:04.687226,2020-03-29 07:25:20.356122
5,NaN,NaT,1.585438e+09,1.585438e+09,2020-03-29 07:24:33.687226,2020-03-29 07:26:06.911306
6,NaN,NaT,1.585438e+09,1.585438e+09,2020-03-29 07:24:56.687226,2020-03-29 07:26:43.834383
7,1.585438e+09,2020-03-29 07:25:30.687226,1.585438e+09,1.585438e+09,2020-03-29 07:25:30.687226,2020-03-29 07:27:38.416323
8,1.585438e+09,2020-03-29 07:25:51.687226,1.585438e+09,1.585438e+09,2020-03-29 07:25:51.687226,2020-03-29 07:28:12.128698
9,NaN,NaT,1.585438e+09,1.585438e+09,2020-03-29 07:26:21.687226,2020-03-29 07:29:00.289233
10,1.585438e+09,2020-03-29 07:26:58.687226,1.585438e+09,1.585438e+09,2020-03-29 07:26:58.687226,2020-03-29 07:29:59.687226

In [69]:
gap_start = None
gap_end   = None
gap_list  = []

for idx, row in df.iterrows():
    timestamp = row['TIMESTAMP']
    if (pd.isna(timestamp)):
        prev_timestamp = df.iloc[idx-1]['TIMESTAMP']
        if (not pd.isna(prev_timestamp)):
            gap_start = idx-1
            pass
        next_timestamp = df.iloc[idx+1]['TIMESTAMP']
        if (not pd.isna(next_timestamp)):
            gap_end = idx+1
            gap_list.append((gap_start, gap_end))
            
gap_list

[(0, 2), (3, 7), (8, 10)]

In [70]:
for gap in gap_list:
    gap_start = gap[0]
    gap_end   = gap[1]
    scale_min = df.iloc[gap_start]['TIMESTAMP']
    scale_max = df.iloc[gap_end  ]['TIMESTAMP']
    bk_timestamps = df.iloc[gap_start:gap_end+1]['TIMESTAMP_BK'].values
    
    rescaled = np.interp(
        bk_timestamps, 
        (bk_timestamps.min(), bk_timestamps.max()), 
        (scale_min, scale_max)
    )
    iter_count = gap_end - gap_start
    for i in range(0, iter_count+1):
        idx = gap_start+i
        df.at[idx, 'TIMESTAMP_SCALED'] = rescaled[i]
        df.at[idx, 'DATETIME_SCALED' ] = datetime.fromtimestamp(rescaled[i])
    
df

,TIMESTAMP,DATETIME,TIMESTAMP_BK,TIMESTAMP_SCALED,DATETIME_SCALED,DATETIME_BK
0,1.585438e+09,2020-03-29 07:21:59.687226,1.585438e+09,1.585438e+09,2020-03-29 07:21:59.687226,2020-03-29 07:21:59.687226
1,NaN,NaT,1.585438e+09,1.585438e+09,2020-03-29 07:22:20.687226,2020-03-29 07:22:33.399601
2,1.585438e+09,2020-03-29 07:22:50.687226,1.585438e+09,1.585438e+09,2020-03-29 07:22:50.687226,2020-03-29 07:23:21.560136
3,1.585438e+09,2020-03-29 07:23:29.687226,1.585438e+09,1.585438e+09,2020-03-29 07:23:29.687226,2020-03-29 07:24:24.168831
4,NaN,NaT,1.585438e+09,1.585438e+09,2020-03-29 07:24:04.687226,2020-03-29 07:25:20.356122
5,NaN,NaT,1.585438e+09,1.585438e+09,2020-03-29 07:24:33.687226,2020-03-29 07:26:06.911306
6,NaN,NaT,1.585438e+09,1.585438e+09,2020-03-29 07:24:56.687226,2020-03-29 07:26:43.834383
7,1.585438e+09,2020-03-29 07:25:30.687226,1.585438e+09,1.585438e+09,2020-03-29 07:25:30.687226,2020-03-29 07:27:38.416323
8,1.585438e+09,2020-03-29 07:25:51.687226,1.585438e+09,1.585438e+09,2020-03-29 07:25:51.687226,2020-03-29 07:28:12.128698
9,NaN,NaT,1.585438e+09,1.585438e+09,2020-03-29 07:26:21.687226,2020-03-29 07:29:00.289233
10,1.585438e+09,2020-03-29 07:26:58.687226,1.585438e+09,1.585438e+09,2020-03-29 07:26:58.687226,2020-03-29 07:29:59.687226