In [1]:
from sklearn.preprocessing import MinMaxScaler
from datetime import datetime
import numpy as np
import pandas as pd
import random

In [2]:
now_dt = datetime.now()
now_ts = datetime.timestamp(now_dt)

print(now_dt)
print(now_ts)

2020-03-29 08:09:31.630661
1585494571.630661

In [3]:
ts_list = [now_ts]
ts      = now_ts
for i in range(0, 10):
    ts = ts + random.randrange(20, 40)
    ts_list.append(ts)

ts_list

[1585494571.630661,
 1585494602.630661,
 1585494636.630661,
 1585494673.630661,
 1585494702.630661,
 1585494725.630661,
 1585494746.630661,
 1585494779.630661,
 1585494804.630661,
 1585494832.630661,
 1585494863.630661]

In [4]:
for dt in [datetime.utcfromtimestamp(i) for i in ts_list]:
    print(dt)

2020-03-29 15:09:31.630661
2020-03-29 15:10:02.630661
2020-03-29 15:10:36.630661
2020-03-29 15:11:13.630661
2020-03-29 15:11:42.630661
2020-03-29 15:12:05.630661
2020-03-29 15:12:26.630661
2020-03-29 15:12:59.630661
2020-03-29 15:13:24.630661
2020-03-29 15:13:52.630661
2020-03-29 15:14:23.630661

In [5]:
# scale to 07:22 -> 07:30
scale_min = now_ts
scale_max = now_ts+8*60 
print(scale_min, scale_max)

1585494571.630661 1585495051.630661

In [6]:
ts_list_np = np.array(ts_list)
ts_list_np

array([1.58549457e+09, 1.58549460e+09, 1.58549464e+09, 1.58549467e+09,
       1.58549470e+09, 1.58549473e+09, 1.58549475e+09, 1.58549478e+09,
       1.58549480e+09, 1.58549483e+09, 1.58549486e+09])

In [7]:
rescaled_ts_list = np.interp(ts_list_np, (ts_list_np.min(), ts_list_np.max()), (scale_min, scale_max))

In [8]:
print("scale to between 07:22 and 07:30")
print("===== before scale =======")
for dt in [datetime.utcfromtimestamp(i) for i in ts_list]:
    print(dt)
    
print("===== after rescaled =====")
for dt in [datetime.utcfromtimestamp(i) for i in rescaled_ts_list]:
    print(dt)

scale to between 07:22 and 07:30
===== before scale =======
2020-03-29 15:09:31.630661
2020-03-29 15:10:02.630661
2020-03-29 15:10:36.630661
2020-03-29 15:11:13.630661
2020-03-29 15:11:42.630661
2020-03-29 15:12:05.630661
2020-03-29 15:12:26.630661
2020-03-29 15:12:59.630661
2020-03-29 15:13:24.630661
2020-03-29 15:13:52.630661
2020-03-29 15:14:23.630661
===== after rescaled =====
2020-03-29 15:09:31.630661
2020-03-29 15:10:22.589565
2020-03-29 15:11:18.479976
2020-03-29 15:12:19.301894
2020-03-29 15:13:06.973127
2020-03-29 15:13:44.781346
2020-03-29 15:14:19.301894
2020-03-29 15:15:13.548469
2020-03-29 15:15:54.644360
2020-03-29 15:16:40.671757
2020-03-29 15:17:31.630661

In [9]:
d  = {'TIMESTAMP': ts_list, 'DATETIME': [datetime.utcfromtimestamp(i) for i in ts_list]}
df = pd.DataFrame(data=d)
df

       TIMESTAMP                   DATETIME
0   1.585495e+09 2020-03-29 15:09:31.630661
1   1.585495e+09 2020-03-29 15:10:02.630661
2   1.585495e+09 2020-03-29 15:10:36.630661
3   1.585495e+09 2020-03-29 15:11:13.630661
4   1.585495e+09 2020-03-29 15:11:42.630661
5   1.585495e+09 2020-03-29 15:12:05.630661
6   1.585495e+09 2020-03-29 15:12:26.630661
7   1.585495e+09 2020-03-29 15:12:59.630661
8   1.585495e+09 2020-03-29 15:13:24.630661
9   1.585495e+09 2020-03-29 15:13:52.630661
10  1.585495e+09 2020-03-29 15:14:23.630661

In [10]:
df.iloc[1  ] = np.nan
df.iloc[4:7] = np.nan
df.iloc[9  ] = np.nan
df

       TIMESTAMP                   DATETIME
0   1.585495e+09 2020-03-29 15:09:31.630661
1            NaN                        NaT
2   1.585495e+09 2020-03-29 15:10:36.630661
3   1.585495e+09 2020-03-29 15:11:13.630661
4            NaN                        NaT
5            NaN                        NaT
6            NaN                        NaT
7   1.585495e+09 2020-03-29 15:12:59.630661
8   1.585495e+09 2020-03-29 15:13:24.630661
9            NaN                        NaT
10  1.585495e+09 2020-03-29 15:14:23.630661

In [11]:
another_df = pd.DataFrame(
    data={
        'TIMESTAMP': rescaled_ts_list,
        'DATETIME' : [datetime.utcfromtimestamp(i) for i in rescaled_ts_list]
    })
df['TIMESTAMP_BK'] = another_df['TIMESTAMP']
df['DATETIME_BK' ] = another_df['DATETIME' ]
df

,TIMESTAMP,DATETIME,TIMESTAMP_BK,DATETIME_BK
0,1.585495e+09,2020-03-29 15:09:31.630661,1.585495e+09,2020-03-29 15:09:31.630661
1,NaN,NaT,1.585495e+09,2020-03-29 15:10:22.589565
2,1.585495e+09,2020-03-29 15:10:36.630661,1.585495e+09,2020-03-29 15:11:18.479976
3,1.585495e+09,2020-03-29 15:11:13.630661,1.585495e+09,2020-03-29 15:12:19.301894
4,NaN,NaT,1.585495e+09,2020-03-29 15:13:06.973127
5,NaN,NaT,1.585495e+09,2020-03-29 15:13:44.781346
6,NaN,NaT,1.585495e+09,2020-03-29 15:14:19.301894
7,1.585495e+09,2020-03-29 15:12:59.630661,1.585495e+09,2020-03-29 15:15:13.548469
8,1.585495e+09,2020-03-29 15:13:24.630661,1.585495e+09,2020-03-29 15:15:54.644360
9,NaN,NaT,1.585495e+09,2020-03-29 15:16:40.671757
10,1.585495e+09,2020-03-29 15:14:23.630661,1.585495e+09,2020-03-29 15:17:31.630661

In [12]:
gap_start = None
gap_end   = None
gap_list  = []

for idx, row in df.iterrows():
    timestamp = row['TIMESTAMP']
    if (pd.isna(timestamp)):
        prev_timestamp = df.iloc[idx-1]['TIMESTAMP']
        if (not pd.isna(prev_timestamp)):
            gap_start = idx-1
            pass
        next_timestamp = df.iloc[idx+1]['TIMESTAMP']
        if (not pd.isna(next_timestamp)):
            gap_end = idx+1
            gap_list.append((gap_start, gap_end))
            
gap_list

[(0, 2), (3, 7), (8, 10)]

In [13]:
for gap in gap_list:
    gap_start = gap[0]
    gap_end   = gap[1]
    scale_min = df.iloc[gap_start]['TIMESTAMP']
    scale_max = df.iloc[gap_end  ]['TIMESTAMP']
    bk_timestamps = df.iloc[gap_start:gap_end+1]['TIMESTAMP_BK'].values
    
    rescaled = np.interp(
        bk_timestamps, 
        (bk_timestamps.min(), bk_timestamps.max()), 
        (scale_min, scale_max)
    )
    iter_count = gap_end - gap_start
    for i in range(0, iter_count+1):
        idx = gap_start+i
        df.at[idx, 'TIMESTAMP_SCALED'] = rescaled[i]
        df.at[idx, 'DATETIME_SCALED' ] = datetime.utcfromtimestamp(rescaled[i])
    
df

,TIMESTAMP,DATETIME,TIMESTAMP_BK,DATETIME_BK,TIMESTAMP_SCALED,DATETIME_SCALED
0,1.585495e+09,2020-03-29 15:09:31.630661,1.585495e+09,2020-03-29 15:09:31.630661,1.585495e+09,2020-03-29 15:09:31.630661
1,NaN,NaT,1.585495e+09,2020-03-29 15:10:22.589565,1.585495e+09,2020-03-29 15:10:02.630661
2,1.585495e+09,2020-03-29 15:10:36.630661,1.585495e+09,2020-03-29 15:11:18.479976,1.585495e+09,2020-03-29 15:10:36.630661
3,1.585495e+09,2020-03-29 15:11:13.630661,1.585495e+09,2020-03-29 15:12:19.301894,1.585495e+09,2020-03-29 15:11:13.630661
4,NaN,NaT,1.585495e+09,2020-03-29 15:13:06.973127,1.585495e+09,2020-03-29 15:11:42.630661
5,NaN,NaT,1.585495e+09,2020-03-29 15:13:44.781346,1.585495e+09,2020-03-29 15:12:05.630661
6,NaN,NaT,1.585495e+09,2020-03-29 15:14:19.301894,1.585495e+09,2020-03-29 15:12:26.630661
7,1.585495e+09,2020-03-29 15:12:59.630661,1.585495e+09,2020-03-29 15:15:13.548469,1.585495e+09,2020-03-29 15:12:59.630661
8,1.585495e+09,2020-03-29 15:13:24.630661,1.585495e+09,2020-03-29 15:15:54.644360,1.585495e+09,2020-03-29 15:13:24.630661
9,NaN,NaT,1.585495e+09,2020-03-29 15:16:40.671757,1.585495e+09,2020-03-29 15:13:52.630661
10,1.585495e+09,2020-03-29 15:14:23.630661,1.585495e+09,2020-03-29 15:17:31.630661,1.585495e+09,2020-03-29 15:14:23.630661

In [14]:
test_df = pd.read_csv("./out/test_df_preadjustion.csv")

In [15]:
test_df.head(15)

,Unnamed: 0,index,BUSROUTE_ID,BUS_ID,BUSSTOP_ID,BUSSTOP_SEQ,RECORD_DATE,TIMESTAMP,TIMESTAMP_BK
0,0,3220254,11100010,2054,11,3,2020-01-22 09:23:36,1.579685e+09,1.579685e+09
1,1,3220255,11100010,2054,9,4,NaN,1.579685e+09,NaN
2,2,3220256,11100010,2054,6,5,2020-01-22 09:27:26,1.579685e+09,1.579685e+09
3,3,3220257,11100010,2054,4,6,NaN,1.579685e+09,NaN
4,4,3220258,11100010,2054,147,7,NaN,1.579686e+09,NaN
5,5,3220259,11100010,2054,149,8,2020-01-22 09:32:52,1.579686e+09,1.579686e+09
6,6,3220260,11100010,2054,151,9,NaN,1.579686e+09,NaN
7,7,3220261,11100010,2054,1225,10,NaN,1.579686e+09,NaN
8,8,3220262,11100010,2054,274,11,2020-01-22 09:42:33,1.579686e+09,1.579686e+09
9,9,3220263,11100010,2054,273,12,NaN,1.579686e+09,NaN
10,10,3220264,11100010,2054,279,13,NaN,1.579687e+09,NaN
11,11,3220265,11100010,2054,281,14,NaN,1.579687e+09,NaN
12,12,3220266,11100010,2054,369,15,NaN,1.579687e+09,NaN
13,13,3220267,11100010,2054,371,16,2020-01-22 10:01:42,1.579687e+09,1.579687e+09
14,14,3220268,11100010,2054,373,17,NaN,1.579687e+09,NaN

In [16]:
#cnt      = 0
gap_list = []
for idx, row in test_df.iterrows():
    timestamp = row['TIMESTAMP_BK']
    if (pd.isna(timestamp)):
        prev_timestamp = test_df.iloc[idx-1]['TIMESTAMP_BK']
        if (not pd.isna(prev_timestamp)):
            gap_start = idx-1
            pass
        next_timestamp = test_df.iloc[idx+1]['TIMESTAMP_BK']
        if (not pd.isna(next_timestamp)):
            gap_end = idx+1
            gap_list.append((gap_start, gap_end))
            
            #cnt = cnt + 1
            #if cnt>5:
            #    break
            
len(gap_list)

250529

In [17]:
gap_list[:5]

[(0, 2), (2, 5), (5, 8), (8, 13), (13, 18)]

In [18]:
#cnt = 0
for gap in gap_list:
    gap_start     = gap[0]
    gap_end       = gap[1]
    scale_min     = test_df.iloc[gap_start]['TIMESTAMP_BK']
    scale_max     = test_df.iloc[gap_end  ]['TIMESTAMP_BK']
    bk_timestamps = test_df.iloc[gap_start:gap_end+1]['TIMESTAMP'].values
    
    rescaled = np.interp(
        bk_timestamps, 
        (bk_timestamps.min(), bk_timestamps.max()), 
        (scale_min, scale_max)
    )
    iter_count = gap_end - gap_start
    for i in range(0, iter_count+1):
        idx = gap_start+i
        test_df.at[idx, 'TIMESTAMP_SCALED'] = rescaled[i]
        test_df.at[idx, 'DATETIME_SCALED' ] = datetime.utcfromtimestamp(rescaled[i])
        
    #cnt = cnt+1
    #if cnt>5:
    #    break

In [19]:
for idx, row in test_df.iterrows():
    timestamp_scaled = row['TIMESTAMP_SCALED']
    if (pd.isna(timestamp_scaled)):
        test_df.at[idx, 'TIMESTAMP_SCALED'] = row['TIMESTAMP']

In [20]:
test_df.to_csv("./out/test_df_timestamp_adjusted.csv")
test_df[['index', 'TIMESTAMP_SCALED']].to_csv("./out/output_ready.csv", index=False)

In [21]:
test_df.head(30)

,Unnamed: 0,index,BUSROUTE_ID,BUS_ID,BUSSTOP_ID,BUSSTOP_SEQ,RECORD_DATE,TIMESTAMP,TIMESTAMP_BK,TIMESTAMP_SCALED,DATETIME_SCALED
0,0,3220254,11100010,2054,11,3,2020-01-22 09:23:36,1.579685e+09,1.579685e+09,1.579685e+09,2020-01-22 09:23:36.000000
1,1,3220255,11100010,2054,9,4,NaN,1.579685e+09,NaN,1.579685e+09,2020-01-22 09:25:36.248963
2,2,3220256,11100010,2054,6,5,2020-01-22 09:27:26,1.579685e+09,1.579685e+09,1.579685e+09,2020-01-22 09:27:26.000000
3,3,3220257,11100010,2054,4,6,NaN,1.579685e+09,NaN,1.579685e+09,2020-01-22 09:28:49.063014
4,4,3220258,11100010,2054,147,7,NaN,1.579686e+09,NaN,1.579685e+09,2020-01-22 09:31:11.967123
5,5,3220259,11100010,2054,149,8,2020-01-22 09:32:52,1.579686e+09,1.579686e+09,1.579686e+09,2020-01-22 09:32:52.000000
6,6,3220260,11100010,2054,151,9,NaN,1.579686e+09,NaN,1.579686e+09,2020-01-22 09:35:51.186916
7,7,3220261,11100010,2054,1225,10,NaN,1.579686e+09,NaN,1.579686e+09,2020-01-22 09:38:16.708411
8,8,3220262,11100010,2054,274,11,2020-01-22 09:42:33,1.579686e+09,1.579686e+09,1.579686e+09,2020-01-22 09:42:33.000000
9,9,3220263,11100010,2054,273,12,NaN,1.579686e+09,NaN,1.579686e+09,2020-01-22 09:44:39.249722
10,10,3220264,11100010,2054,279,13,NaN,1.579687e+09,NaN,1.579687e+09,2020-01-22 09:52:15.789123
11,11,3220265,11100010,2054,281,14,NaN,1.579687e+09,NaN,1.579687e+09,2020-01-22 09:56:21.912320
12,12,3220266,11100010,2054,369,15,NaN,1.579687e+09,NaN,1.579687e+09,2020-01-22 09:58:31.987791
13,13,3220267,11100010,2054,371,16,2020-01-22 10:01:42,1.579687e+09,1.579687e+09,1.579687e+09,2020-01-22 10:01:42.000000
14,14,3220268,11100010,2054,373,17,NaN,1.579687e+09,NaN,1.579688e+09,2020-01-22 10:07:09.826873
15,15,3220269,11100010,2054,375,18,NaN,1.579688e+09,NaN,1.579688e+09,2020-01-22 10:08:26.294574
16,16,3220270,11100010,2054,377,19,NaN,1.579688e+09,NaN,1.579688e+09,2020-01-22 10:09:18.534884
17,17,3220271,11100010,2054,379,20,NaN,1.579688e+09,NaN,1.579688e+09,2020-01-22 10:10:13.046512
18,18,3220272,11100010,2054,380,21,2020-01-22 10:11:28,1.579688e+09,1.579688e+09,1.579688e+09,2020-01-22 10:11:28.000000
19,19,3220273,11100010,2054,378,22,NaN,1.579688e+09,NaN,1.579688e+09,2020-01-22 10:13:35.800368
20,20,3220274,11100010,2054,376,23,NaN,1.579688e+09,NaN,1.579688e+09,2020-01-22 10:14:51.150874
21,21,3220275,11100010,2054,374,24,NaN,1.579688e+09,NaN,1.579688e+09,2020-01-22 10:16:39.744250
22,22,3220276,11100010,2054,372,25,NaN,1.579689e+09,NaN,1.579688e+09,2020-01-22 10:21:24.155474
23,23,3220277,11100010,2054,370,26,NaN,1.579689e+09,NaN,1.579689e+09,2020-01-22 10:23:20.874885
24,24,3220278,11100010,2054,585,27,2020-01-22 10:24:51,1.579689e+09,1.579689e+09,1.579689e+09,2020-01-22 10:24:51.000000
25,25,3220279,11100010,2054,193,28,NaN,1.579689e+09,NaN,1.579689e+09,2020-01-22 10:27:37.592771
26,26,3220280,11100010,2054,100000010,29,NaN,1.579689e+09,NaN,1.579689e+09,2020-01-22 10:30:24.185542
27,27,3220281,11100010,2054,155,30,2020-01-22 10:34:47,1.579689e+09,1.579689e+09,1.579689e+09,2020-01-22 10:34:47.000000
28,28,3220282,11100010,2054,153,31,NaN,1.579689e+09,NaN,1.579689e+09,2020-01-22 10:35:44.521031
29,29,3220283,11100010,2054,152,32,NaN,1.579690e+09,NaN,1.579689e+09,2020-01-22 10:37:09.327680