In [82]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import pickle
from datetime import datetime

In [83]:
%%time
test_df = pd.read_csv("./data/output6.csv")

CPU times: user 437 ms, sys: 140 ms, total: 577 ms
Wall time: 624 ms

In [84]:
test_df

           index     TIMESTAMP  TIMESTAMP_BK
0        3220254 1579888192.09 1579685016.00
1        3220255 1579685127.33          0.00
2        3220256 1579685226.78 1579685246.00
3        3220257 1579685337.48          0.00
4        3220258 1579685483.07          0.00
...          ...           ...           ...
1557459  4777713 1579883543.64 1579883967.00
1557460  4777714 1579884096.41 1579886880.00
1557461  4777715 1579886997.28          0.00
1557462  4777716 1579887145.04          0.00
1557463  4777717 1579887264.48 1579888024.00

[1557464 rows x 3 columns]

In [85]:
%%time
gap_list = []
for idx, row in test_df.iterrows():
    timestamp = row['TIMESTAMP_BK']
    if (timestamp == 0):
        prev_timestamp = test_df.iloc[idx-1]['TIMESTAMP_BK']
        if (prev_timestamp != 0):
            gap_start = idx-1
            pass
        next_timestamp = test_df.iloc[idx+1]['TIMESTAMP_BK']
        if (next_timestamp!=0):
            gap_end = idx+1
            gap_list.append((gap_start, gap_end))
            
            #cnt = cnt + 1
            #if cnt>5:
            #    break
            
len(gap_list)

CPU times: user 10min 26s, sys: 5.76 s, total: 10min 32s
Wall time: 11min 33s

250529

In [86]:
gap_list[:5]

[(0, 2), (2, 5), (5, 8), (8, 13), (13, 18)]

In [87]:
%%time
pd.options.display.float_format = "{:.2f}".format
# cnt = 0

for gap in gap_list:
    gap_start     = gap[0]
    gap_end       = gap[1]
    scale_min     = test_df.iloc[gap_start]['TIMESTAMP_BK']
    scale_max     = test_df.iloc[gap_end  ]['TIMESTAMP_BK']
    bk_timestamps = test_df.iloc[gap_start:gap_end+1]['TIMESTAMP'].values
    
    bk_timestamps[0] = scale_min
    
    rescaled = np.interp(
        bk_timestamps, 
        (bk_timestamps.min(), bk_timestamps.max()), 
        (scale_min, scale_max)
    )
    iter_count = gap_end - gap_start
    for i in range(0, iter_count+1):
        idx = gap_start+i
        test_df.at[idx, 'TIMESTAMP_SCALED'] = rescaled[i]
        test_df.at[idx, 'DATETIME_SCALED' ] = datetime.utcfromtimestamp(rescaled[i])
        
#     cnt = cnt+1
#     if cnt>1:
#        break

CPU times: user 4min 50s, sys: 3.1 s, total: 4min 53s
Wall time: 5min 20s

In [88]:
test_df.head(60)

,index,TIMESTAMP,TIMESTAMP_BK,TIMESTAMP_SCALED,DATETIME_SCALED
0,3220254,1579685016.00,1579685016.00,1579685016.00,2020-01-22 09:23:36.000000
1,3220255,1579685127.33,0.00,1579685137.48,2020-01-22 09:25:37.481148
2,3220256,1579685246.00,1579685246.00,1579685246.00,2020-01-22 09:27:26.000000
3,3220257,1579685337.48,0.00,1579685333.59,2020-01-22 09:28:53.591269
4,3220258,1579685483.07,0.00,1579685473.01,2020-01-22 09:31:13.008599
5,3220259,1579685572.00,1579685572.00,1579685572.00,2020-01-22 09:32:52.000000
6,3220260,1579685803.09,0.00,1579685777.78,2020-01-22 09:36:17.779127
7,3220261,1579685942.90,0.00,1579685902.27,2020-01-22 09:38:22.273511
8,3220262,1579686153.00,1579686153.00,1579686153.00,2020-01-22 09:42:33.000000
9,3220263,1579686249.65,0.00,1579686283.44,2020-01-22 09:44:43.438368
10,3220264,1579686567.13,0.00,1579686711.93,2020-01-22 09:51:51.930712
11,3220265,1579686771.37,0.00,1579686987.58,2020-01-22 09:56:27.582171
12,3220266,1579686861.55,0.00,1579687109.29,2020-01-22 09:58:29.285028
13,3220267,1579687302.00,1579687302.00,1579687302.00,2020-01-22 10:01:42.000000
14,3220268,1579687469.43,0.00,1579687502.41,2020-01-22 10:05:02.411957
15,3220269,1579687560.74,0.00,1579687611.70,2020-01-22 10:06:51.704896
16,3220270,1579687627.68,0.00,1579687691.84,2020-01-22 10:08:11.836793
17,3220271,1579687704.94,0.00,1579687784.32,2020-01-22 10:09:44.318624
18,3220272,1579687888.00,1579687888.00,1579687888.00,2020-01-22 10:11:28.000000
19,3220273,1579688005.58,0.00,1579687994.16,2020-01-22 10:13:14.157761
20,3220274,1579688090.30,0.00,1579688070.65,2020-01-22 10:14:30.650864
21,3220275,1579688234.67,0.00,1579688201.00,2020-01-22 10:16:41.000630
22,3220276,1579688515.86,0.00,1579688454.88,2020-01-22 10:20:54.879064
23,3220277,1579688675.72,0.00,1579688599.21,2020-01-22 10:23:19.208317
24,3220278,1579688691.00,1579688691.00,1579688691.00,2020-01-22 10:24:51.000000
25,3220279,1579689046.52,0.00,1579689023.18,2020-01-22 10:30:23.179644
26,3220280,1579689141.87,0.00,1579689112.27,2020-01-22 10:31:52.270791
27,3220281,1579689287.00,1579689287.00,1579689287.00,2020-01-22 10:34:47.000000
28,3220282,1579689398.38,0.00,1579689382.65,2020-01-22 10:36:22.646472
29,3220283,1579689509.22,0.00,1579689477.83,2020-01-22 10:37:57.826254
30,3220284,1579689689.85,0.00,1579689632.95,2020-01-22 10:40:32.946008
31,3220285,1579689780.77,0.00,1579689711.01,2020-01-22 10:41:51.014649
32,3220286,1579689923.91,0.00,1579689833.94,2020-01-22 10:43:53.936655
33,3220287,1579690008.41,0.00,1579689906.50,2020-01-22 10:45:06.500307
34,3220288,1579690072.47,0.00,1579689961.51,2020-01-22 10:46:01.512435
35,3220289,1579690160.28,0.00,1579690036.92,2020-01-22 10:47:16.916942
36,3220290,1579690281.90,0.00,1579690141.36,2020-01-22 10:49:01.358435
37,3220291,1579690552.81,1579690374.00,1579690374.00,2020-01-22 10:52:54.000000
38,3220292,1579690455.94,1579678227.00,nan,NaT
39,3220293,1579678369.63,1579678404.00,nan,NaT
40,3220294,1579678581.00,1579678581.00,1579678581.00,2020-01-22 07:36:21.000000
41,3220295,1579678710.96,0.00,1579678741.21,2020-01-22 07:39:01.209822
42,3220296,1579678831.45,0.00,1579678889.75,2020-01-22 07:41:29.752157
43,3220297,1579679013.89,0.00,1579679114.66,2020-01-22 07:45:14.660281
44,3220298,1579679149.05,0.00,1579679281.29,2020-01-22 07:48:01.288758
45,3220299,1579679397.98,0.00,1579679588.17,2020-01-22 07:53:08.171436
46,3220300,1579679552.60,0.00,1579679778.79,2020-01-22 07:56:18.787040
47,3220301,1579680179.00,1579680179.00,1579680179.00,2020-01-22 08:02:59.000000
48,3220302,1579680302.94,0.00,1579680292.27,2020-01-22 08:04:52.270617
49,3220303,1579680664.00,1579680664.00,1579680664.00,2020-01-22 08:11:04.000000
50,3220304,1579680925.71,0.00,1579681005.74,2020-01-22 08:16:45.741846
51,3220305,1579681046.06,0.00,1579681162.89,2020-01-22 08:19:22.889871
52,3220306,1579681220.56,0.00,1579681390.75,2020-01-22 08:23:10.752180
53,3220307,1579681446.67,0.00,1579681686.00,2020-01-22 08:28:06.004469
54,3220308,1579681566.40,0.00,1579681842.34,2020-01-22 08:30:42.344523
55,3220309,1579681646.80,0.00,1579681947.33,2020-01-22 08:32:27.328134
56,3220310,1579681735.64,0.00,1579682063.34,2020-01-22 08:34:23.344905
57,3220311,1579681855.88,0.00,1579682220.35,2020-01-22 08:37:00.352309
58,3220312,1579682008.55,0.00,1579682419.71,2020-01-22 08:40:19.705767
59,3220313,1579682107.61,0.00,1579682549.06,2020-01-22 08:42:29.059756

In [89]:
%%time
for idx, row in test_df.iterrows():
    timestamp_scaled = row['TIMESTAMP_SCALED']
    if (pd.isna(timestamp_scaled)):
        test_df.at[idx, 'TIMESTAMP_SCALED'] = row['TIMESTAMP_BK']

CPU times: user 3min 24s, sys: 2.22 s, total: 3min 26s
Wall time: 3min 46s

In [90]:
test_df_bk = test_df
test_df = test_df_bk

In [91]:
test_df.head(60)

,index,TIMESTAMP,TIMESTAMP_BK,TIMESTAMP_SCALED,DATETIME_SCALED
0,3220254,1579685016.00,1579685016.00,1579685016.00,2020-01-22 09:23:36.000000
1,3220255,1579685127.33,0.00,1579685137.48,2020-01-22 09:25:37.481148
2,3220256,1579685246.00,1579685246.00,1579685246.00,2020-01-22 09:27:26.000000
3,3220257,1579685337.48,0.00,1579685333.59,2020-01-22 09:28:53.591269
4,3220258,1579685483.07,0.00,1579685473.01,2020-01-22 09:31:13.008599
5,3220259,1579685572.00,1579685572.00,1579685572.00,2020-01-22 09:32:52.000000
6,3220260,1579685803.09,0.00,1579685777.78,2020-01-22 09:36:17.779127
7,3220261,1579685942.90,0.00,1579685902.27,2020-01-22 09:38:22.273511
8,3220262,1579686153.00,1579686153.00,1579686153.00,2020-01-22 09:42:33.000000
9,3220263,1579686249.65,0.00,1579686283.44,2020-01-22 09:44:43.438368
10,3220264,1579686567.13,0.00,1579686711.93,2020-01-22 09:51:51.930712
11,3220265,1579686771.37,0.00,1579686987.58,2020-01-22 09:56:27.582171
12,3220266,1579686861.55,0.00,1579687109.29,2020-01-22 09:58:29.285028
13,3220267,1579687302.00,1579687302.00,1579687302.00,2020-01-22 10:01:42.000000
14,3220268,1579687469.43,0.00,1579687502.41,2020-01-22 10:05:02.411957
15,3220269,1579687560.74,0.00,1579687611.70,2020-01-22 10:06:51.704896
16,3220270,1579687627.68,0.00,1579687691.84,2020-01-22 10:08:11.836793
17,3220271,1579687704.94,0.00,1579687784.32,2020-01-22 10:09:44.318624
18,3220272,1579687888.00,1579687888.00,1579687888.00,2020-01-22 10:11:28.000000
19,3220273,1579688005.58,0.00,1579687994.16,2020-01-22 10:13:14.157761
20,3220274,1579688090.30,0.00,1579688070.65,2020-01-22 10:14:30.650864
21,3220275,1579688234.67,0.00,1579688201.00,2020-01-22 10:16:41.000630
22,3220276,1579688515.86,0.00,1579688454.88,2020-01-22 10:20:54.879064
23,3220277,1579688675.72,0.00,1579688599.21,2020-01-22 10:23:19.208317
24,3220278,1579688691.00,1579688691.00,1579688691.00,2020-01-22 10:24:51.000000
25,3220279,1579689046.52,0.00,1579689023.18,2020-01-22 10:30:23.179644
26,3220280,1579689141.87,0.00,1579689112.27,2020-01-22 10:31:52.270791
27,3220281,1579689287.00,1579689287.00,1579689287.00,2020-01-22 10:34:47.000000
28,3220282,1579689398.38,0.00,1579689382.65,2020-01-22 10:36:22.646472
29,3220283,1579689509.22,0.00,1579689477.83,2020-01-22 10:37:57.826254
30,3220284,1579689689.85,0.00,1579689632.95,2020-01-22 10:40:32.946008
31,3220285,1579689780.77,0.00,1579689711.01,2020-01-22 10:41:51.014649
32,3220286,1579689923.91,0.00,1579689833.94,2020-01-22 10:43:53.936655
33,3220287,1579690008.41,0.00,1579689906.50,2020-01-22 10:45:06.500307
34,3220288,1579690072.47,0.00,1579689961.51,2020-01-22 10:46:01.512435
35,3220289,1579690160.28,0.00,1579690036.92,2020-01-22 10:47:16.916942
36,3220290,1579690281.90,0.00,1579690141.36,2020-01-22 10:49:01.358435
37,3220291,1579690552.81,1579690374.00,1579690374.00,2020-01-22 10:52:54.000000
38,3220292,1579690455.94,1579678227.00,1579678227.00,NaT
39,3220293,1579678369.63,1579678404.00,1579678404.00,NaT
40,3220294,1579678581.00,1579678581.00,1579678581.00,2020-01-22 07:36:21.000000
41,3220295,1579678710.96,0.00,1579678741.21,2020-01-22 07:39:01.209822
42,3220296,1579678831.45,0.00,1579678889.75,2020-01-22 07:41:29.752157
43,3220297,1579679013.89,0.00,1579679114.66,2020-01-22 07:45:14.660281
44,3220298,1579679149.05,0.00,1579679281.29,2020-01-22 07:48:01.288758
45,3220299,1579679397.98,0.00,1579679588.17,2020-01-22 07:53:08.171436
46,3220300,1579679552.60,0.00,1579679778.79,2020-01-22 07:56:18.787040
47,3220301,1579680179.00,1579680179.00,1579680179.00,2020-01-22 08:02:59.000000
48,3220302,1579680302.94,0.00,1579680292.27,2020-01-22 08:04:52.270617
49,3220303,1579680664.00,1579680664.00,1579680664.00,2020-01-22 08:11:04.000000
50,3220304,1579680925.71,0.00,1579681005.74,2020-01-22 08:16:45.741846
51,3220305,1579681046.06,0.00,1579681162.89,2020-01-22 08:19:22.889871
52,3220306,1579681220.56,0.00,1579681390.75,2020-01-22 08:23:10.752180
53,3220307,1579681446.67,0.00,1579681686.00,2020-01-22 08:28:06.004469
54,3220308,1579681566.40,0.00,1579681842.34,2020-01-22 08:30:42.344523
55,3220309,1579681646.80,0.00,1579681947.33,2020-01-22 08:32:27.328134
56,3220310,1579681735.64,0.00,1579682063.34,2020-01-22 08:34:23.344905
57,3220311,1579681855.88,0.00,1579682220.35,2020-01-22 08:37:00.352309
58,3220312,1579682008.55,0.00,1579682419.71,2020-01-22 08:40:19.705767
59,3220313,1579682107.61,0.00,1579682549.06,2020-01-22 08:42:29.059756

In [92]:
test_df = test_df[['index', 'TIMESTAMP_SCALED', 'TIMESTAMP_BK']].rename(columns={"TIMESTAMP_SCALED": "TIMESTAMP"})

In [93]:
test_df.head(50)

      index     TIMESTAMP  TIMESTAMP_BK
0   3220254 1579685016.00 1579685016.00
1   3220255 1579685137.48          0.00
2   3220256 1579685246.00 1579685246.00
3   3220257 1579685333.59          0.00
4   3220258 1579685473.01          0.00
5   3220259 1579685572.00 1579685572.00
6   3220260 1579685777.78          0.00
7   3220261 1579685902.27          0.00
8   3220262 1579686153.00 1579686153.00
9   3220263 1579686283.44          0.00
10  3220264 1579686711.93          0.00
11  3220265 1579686987.58          0.00
12  3220266 1579687109.29          0.00
13  3220267 1579687302.00 1579687302.00
14  3220268 1579687502.41          0.00
15  3220269 1579687611.70          0.00
16  3220270 1579687691.84          0.00
17  3220271 1579687784.32          0.00
18  3220272 1579687888.00 1579687888.00
19  3220273 1579687994.16          0.00
20  3220274 1579688070.65          0.00
21  3220275 1579688201.00          0.00
22  3220276 1579688454.88          0.00
23  3220277 1579688599.21          0.00
24  3220278 1579688691.00 1579688691.00
25  3220279 1579689023.18          0.00
26  3220280 1579689112.27          0.00
27  3220281 1579689287.00 1579689287.00
28  3220282 1579689382.65          0.00
29  3220283 1579689477.83          0.00
30  3220284 1579689632.95          0.00
31  3220285 1579689711.01          0.00
32  3220286 1579689833.94          0.00
33  3220287 1579689906.50          0.00
34  3220288 1579689961.51          0.00
35  3220289 1579690036.92          0.00
36  3220290 1579690141.36          0.00
37  3220291 1579690374.00 1579690374.00
38  3220292 1579678227.00 1579678227.00
39  3220293 1579678404.00 1579678404.00
40  3220294 1579678581.00 1579678581.00
41  3220295 1579678741.21          0.00
42  3220296 1579678889.75          0.00
43  3220297 1579679114.66          0.00
44  3220298 1579679281.29          0.00
45  3220299 1579679588.17          0.00
46  3220300 1579679778.79          0.00
47  3220301 1579680179.00 1579680179.00
48  3220302 1579680292.27          0.00
49  3220303 1579680664.00 1579680664.00

In [94]:
# test_df.to_csv("./out/test_df_timestamp_adjusted.csv")
test_df[['index', 'TIMESTAMP']].to_csv("./out/output_ready_6.csv", index=False)

In [49]:
# test_2 = pd.read_csv("./out/output_ready_best.csv")

In [51]:
# pd.merge(test_2, test_df, on='index', how='inner')

           index   TIMESTAMP_x   TIMESTAMP_y  TIMESTAMP_BK
0        3220254 1579685016.00 1579685016.00 1579685016.00
1        3220255 1579685137.05 1579685131.00          0.00
2        3220256 1579685246.00 1579685246.00 1579685246.00
3        3220257 1579685339.27 1579685341.34          0.00
4        3220258 1579685475.31 1579685475.20          0.00
...          ...           ...           ...           ...
1557459  4777713 1579883967.00 1579883967.00 1579883967.00
1557460  4777714 1579886880.00 1579886880.00 1579886880.00
1557461  4777715 1579887223.60 1579887932.62          0.00
1557462  4777716 1579887676.35 1579887983.28          0.00
1557463  4777717 1579888024.00 1579888024.00 1579888024.00

[1557464 rows x 4 columns]