In [1]:
import xgboost as xgb
from catboost import CatBoostRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
from sklearn.metrics import explained_variance_score

In [2]:
dataset_df = pd.read_csv('./out/cleaned_train.csv')

In [3]:
dataset_df.describe()

,DAY_OF_WEEK,HOUR_OF_DAY,MINUTE_OF_HOUR,SECOND_OF_MINUTE,TIME,BUS_ID,BUSROUTE_ID,BUSSTOP_ID,TIMESTAMP_DIFF
count,3.113895e+06,3.113895e+06,3.113895e+06,3.113895e+06,3.113895e+06,3.113895e+06,3.113895e+06,3.113895e+06,3.113895e+06
mean,2.713930e+00,1.389515e+01,2.945600e+01,2.949852e+01,3.021938e+04,5.160709e+02,1.193957e+02,4.040354e+02,1.652276e+02
std,1.897857e+00,4.331936e+00,1.733666e+01,1.731124e+01,1.556944e+04,3.123807e+02,7.198581e+01,3.248032e+02,1.478367e+02
min,0.000000e+00,6.000000e+00,0.000000e+00,0.000000e+00,9.210000e+02,0.000000e+00,3.000000e+00,1.000000e+00,3.000000e+00
25%,1.000000e+00,1.000000e+01,1.400000e+01,1.500000e+01,1.641800e+04,2.480000e+02,5.500000e+01,1.620000e+02,8.300000e+01
50%,3.000000e+00,1.400000e+01,2.900000e+01,2.900000e+01,2.974000e+04,5.030000e+02,1.210000e+02,3.680000e+02,1.210000e+02
75%,4.000000e+00,1.800000e+01,4.400000e+01,4.400000e+01,4.335300e+04,7.790000e+02,1.730000e+02,5.400000e+02,1.910000e+02
max,6.000000e+00,2.300000e+01,5.900000e+01,5.900000e+01,6.475100e+04,1.076000e+03,2.710000e+02,1.352000e+03,1.999000e+03

In [5]:
train_df = dataset_df[['DAY_OF_WEEK', 'HOUR_OF_DAY', 'MINUTE_OF_HOUR', 'SECOND_OF_MINUTE', 'BUS_ID', 'BUSROUTE_ID', 'BUSSTOP_ID']]
label_df = dataset_df[['TIMESTAMP_DIFF']]

In [6]:
x_train, x_test, y_train, y_test = train_test_split(train_df, label_df, test_size=0.2, random_state=123)

x_train = x_train.values
x_test  = x_test.values
y_train = y_train.values
y_test  = y_test.values